<div class="panel panel-white">
    <div class="panel-body" cg-busy="vm.promiseRequest">

        <div class="content-data col-md-12" ng-show="vm.favorites.length > 0">
            <div class="col-md-12 body-header">
                <div class="col-md-4 col-md-offset-8">
                <div class="input-group">
                    <input name="search" ng-model="vm.filters.title" class="form-control input-search" placeholder="Ingresa el titulo del aviso que buscas..." type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            </div>
            <table class="table table-bordred table-striped" ng-table="vm.tableParams" >
                <tr id="ad-row-{{ ad.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="ad in $data">
                    <td class="v-align-middle col-md-1"
                        data-title="'Image'">
                        <img id="media-object" class="img-rounded" ng-src="{{ ad.images[0].thumbnail_110x110 }}" width="90" height="90">
                    </td>
                    <td class="v-align-middle col-md-9"
                        data-title="'Ads'"
                        sortable="'title'">
                        <h4><strong>{{ ad.title }}</strong></h4>
                        <p>{{ ad.short_description }}</p>
                        <small><strong>Fecha de publicacion : </strong>{{ ad.pub_date }} </small>
                    </td>
                    <td class="v-align-middle col-md-1" data-title="'Price'" sortable="'price'"> {{ ad.price| currency:"$" }}</td>
                    <td class="v-align-middle col-md-1" data-title="'Actions'">
                        <!-- delete -->
                        <button class="btn btn-sm btn-default text-danger btn-table"
                                ng-really-message="Estas seguro que deseas quitar de favoritos el aviso {{ ad.title }} ?"
                                ng-really-click="vm.remove_favorite(ad)"
                                item="ad">
                            <span class="fa fa-times"
                                  tooltip="'Quita el aviso de mis favoritos'"
                                  placement="top"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="content-data col-md-12" ng-show="vm.favorites.length == 0 && vm.request">
            <p>No tienenes ningun favorito, Empieza ya, con la ayuda de los favoritos no te vas a peder ninguna oportunidad.
                Entra a los avisos que te interesan y agregalo a tus favoritos, nosotros nos encargamos del resto.</p>
        </div>
    </div>
</div>
