<div id="container-profile" ng-controller="LocationCtrl">
    <div class="col-md-5 col-lg-5" >
        <h3>Ubicaciones</h3>
        <table class="table"
               style=" table-layout: fixed;
                word-wrap: break-word;
                overflow: hidden;
                border: 3px solid yellow; ">

            <thead>
            <td>Nombre</td><td >Dirección</td><td>Latitud</td><td>Longitud</td><td>Radio</td>
            </thead>

            <tbody>
            <tr  ng-repeat="location in locations track by location.id">
                <td ><input ng-model="location.title"></td>
                <td ><input ng-model="location.address"></td>
                <td><input type="number" ng-model="location.center.latitude" decimal></td>
                <td><input type="number" ng-model="location.center.longitude" decimal></td>
                <td><input type="number" ng-model="location.radius" decimal></td>
            </tr>
            </tbody>

        </table>

        <h3>Ubicaciones</h3>
        <table class="table"
               style=" table-layout: fixed;
                word-wrap: break-word;
                overflow: hidden;
                border: 3px solid yellow; ">

            <thead>
            <td>Nombre</td><td >Dirección</td><td>Latitud</td><td>Longitud</td><td>Radio</td>
            </thead>

            <tbody>
            <tr  ng-repeat="location in locations track by location.id">
                <td ><input value="[[ location.title ]]"></td>
                <td ><input value="[[ location.address ]]"></td>
                <td><input value="[[ location.center.latitude ]]"></td>
                <td><input value="[[ location.center.longitude ]]"></td>
                <td><input value="[[ location.radius ]]"></td>
            </tr>
            </tbody>

        </table>


    </div>
    <div class="col-md-7 col-lg-7" >
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-circle ng-repeat="location in locations track by location.id"
                            center="location.center"

                            stroke="location_options.stroke"
                            fill="location_options.fill"
                            radius="location.radius"
                            visible="location_options.visible"
                            geodesic="location_options.geodesic"
                            editable="location_options.editable"
                            draggable="location_options.draggable"
                            clickable="location_options.clickable"></ui-gmap-circle>
        </ui-gmap-google-map>
    </div>
</div>

