{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/auth.css" >
{% endblock %}


{% block body_block %}

<div class="main container">

      <h3>Please Log In, or <a href="{{ signup_url }}">Sign Up</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="/accounts/facebook/login/?process=login" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="/accounts/google/login/?process=login" class="btn btn-lg btn-danger btn-block">Google</a>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>

      <form role="form" method="POST" action="{% url 'account_login' %}" >
            {% csrf_token %}
            {% bootstrap_form form %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction btn btn-success pull-right" type="submit">{% trans "Sign In" %}</button>
      </form>

    </div>







{% endblock %}
