{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block body_block %}

    <main class="page-content">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="#" class="logo-name text-lg text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</a>
                        <hr/>

                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input class="btn btn-success pull-right" type="submit" name="action" value="{% trans "Cambiar contraseña" %}"/>
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->








    <div class="container">
        <h1></h1>


    </div>

{% endblock %}
