{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Reiniciar contraseña" %}{% endblock %}

{% block body_block %}
<main class="page-content">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="#" class="logo-name text-lg text-center">{% trans "Reiniciar contraseña" %}</a>
                        <hr/>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Olvidaste tu contraseña? introduzca su dirección de correo electrónico a continuación y te enviaremos un correo electrónico que le permita reiniciarla." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input class="btn btn-success btn-block" type="submit" value="{% trans "Reinciar mi contraseña" %}" />
                        </form>

                        <p>{% blocktrans %}Póngase en contacto con nosotros si tiene algún problema restablecer su contraseña.{% endblocktrans %}</p>
                    </div>

                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->



{% endblock %}

{% block extra_body %}
<script>
    $("#id_email").focus();
</script>
{% endblock %}
