{% load bootstrap3 %}
{% load url from future %}
{% load i18n %}





<h3>{% trans "Change Password" %}</h3>

{% bootstrap_form form %}
<button class="btn btn-success pull-right" id="btn-confirm" name="action">{% trans "Change Password" %}</button>




<script>
        $("#btn-confirm").click(function(){

            // TODO: En la vista de cambiar contraseña falta validar respuesta ajax, y validar si los password cohinciden antes de enviar el ajax

            var oldpassword = $("#id_oldpassword").val();
            var password1 = $("#id_password1").val();
            var password2 = $("#id_password2").val();
            csrf = "{{ csrf_token }}"

            $.post("{% url 'account_change_password' %}", {oldpassword: oldpassword, password1: password1, password2: password2, csrfmiddlewaretoken: csrf},
                function(data) {
                    console.log("Change password Success");
                }
            )
            .done(function(){
                //$('#modalMessage').class = 'modal';
            });

        });

</script>