{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body_block %}
    <main class="page-content">
        <div class="page-inner">
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-3 center">
                        <div class="login-box">
                            <a href="index.html" class="logo-name text-lg text-center">Crea tu cuenta</a>
                            <div class="btn-group btn-group-justified m-t-sm" role="group" aria-label="Justified button group">
                                <a href="/accounts/facebook/login/?process=login" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                                <!--<a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>-->
                                <a href="/accounts/google/login/?process=login" class="btn btn-google"><i class="fa fa-google-plus"></i> Google+</a>
                            </div>
                            <form class="m-t-md" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <label>
                                    <input type="checkbox"> Aceptar los terminos y condiciones
                                </label>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit" class="btn btn-success btn-block m-t-xs">Crear</button>
                                <p class="text-center m-t-xs text-sm">Ya tiene una cuenta?</p>
                                <a href="{{ login_url }}" class="btn btn-default btn-block m-t-xs">Entrar</a>
                            </form>

                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->

{% endblock %}


