<style>
    .fa-facebook{
        color: #627AAC;
    }
    .fa-twitter{
        color: #00ABF0;
    }

    .fa-google-plus{
        color: #D95232;
    }

    .dropdown .btn{
        width: 40px;
        margin-top: 5px;
    }
</style>
<div class="panel panel-white">
    <div class="panel-body" cg-busy="vm.promiseRequest">

        <div class="content-data col-md-12" ng-show="vm.items.length > 0">
            <div class="col-md-12 body-header">
                <div class="col-md-8">
                    <a ui-sref="item-create" class="btn btn-warning" style="color: black;"><span class="fa fa-plus"></span> Agrega tu aviso</a>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input name="search" ng-model="vm.filters.title" class="form-control input-search" placeholder="Ingresa el titulo del aviso que buscas..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordred table-striped dataTable" ng-table="vm.tableParams" >
                <tbody>
                <tr id="item-row-{{ item.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in $data">
                    <td class="v-align-middle col-md-1"
                        data-title="'Imagen'">
                        <img id="media-object" class="img-rounded" ng-src="{{ item.images[0].thumbnail_110x110 }}" width="90" height="90">
                    </td>
                    <td class="v-align-middle col-md-10"
                        data-title="'Avisos'"
                        sortable="'title'" filter="{ 'title': 'text' }">
                        <h4><strong>{{ item.title }}</strong></h4>
                        <p>{{ item.short_description }}</p>
                        <small><strong>Fecha de publicacion : </strong>{{ item.pub_date }} || <strong>Price : </strong> $ {{ item.price }}</small>
                    </td>
                    <td class="v-align-middle col-md-1 text-center" data-title="'Acciones'">
                        <!-- DROPDOWN ACTIONS -->
                        <div class="dropdown" tooltip="'Acciones'" placement="top">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="/item/{{ item.slug }}" target="_blank">
                                        <i class="fa fa-eye"></i> Ver
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="item-update({id:{{ item.id }}})">
                                        <i class="fa fa-pencil"></i> Editar
                                    </a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li ng-really-message="Estas seguro que deseas borrar el aviso {{ item.title }} ?"
                                    ng-really-click="vm.destroy(item)"
                                    item="item">
                                    <a href="#" >
                                        <i class="fa fa-trash-o"></i> Eliminar
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- DROPDOWN SOCIAL SHARE -->
                        <div class="dropdown" tooltip="'Compartir en redes sociales'" placement="top">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="dropdownMenuSocial"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                <i class="fa fa-share-alt"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSocial">
                                <li>
                                    <a socialshare
                                       socialshare-provider="facebook"
                                       socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                                       socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a socialshare
                                       socialshare-provider="twitter"
                                       socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                                       socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a socialshare
                                       socialshare-provider="google+"
                                       socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                                       socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                                        <i class="fa fa-google-plus"></i> Google plus
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="content-data col-md-12" ng-show="vm.items.length == 0 && vm.request">
            <p>No tienenes ningun aviso. Puedes empezar cargando tu primer aviso</p>
            <a ui-sref="item-create" class="btn btn-success"><span class="fa fa-plus"></span> Agrega tu aviso</a>
        </div>
    </div>
</div>
