{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Crear perfil {% endblock %}


{% block body_block %}
    <div class="container">
        {% bootstrap_messages %}
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {{ phones_form.management_form }}
            {% for phone_form in phones_form %}
                {{ phone_form.id }}
                <div class="inline {{ phones_form.prefix }} form-inline">
                     {% bootstrap_field phone_form.type %}
                     {% bootstrap_field phone_form.number %}
                </div>
            {% endfor %}

            <div id="locations">
                <h3>Locations</h3>

                {{ locations_form.management_form }}
                {% for location_form in locations_form %}
                    {{ location_form.id }}
                    <div class="inline {{ locations_form.prefix }} form-inline">
                        {% bootstrap_field location_form.title %}
                        {% bootstrap_field location_form.lat %}
                        {% bootstrap_field location_form.lng %}
                    </div>
                {% endfor %}
            </div>
            <!-- Locations Map -->
            <div id="mapa" class="capas"></div>
            <!-- End Locations Map -->

            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">
                    {% bootstrap_icon "save" %} Create
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}

{% block js_footer_block %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/jquery-formset-12/jquery.formset.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>


    <script type="text/javascript">
            $(function() {
                $(".inline.{{ phones_form.prefix }}").formset({
                    prefix: "{{ phones_form.prefix }}",
                })
                $(".inline.{{ locations_form.prefix }}").formset({
                    prefix: "{{ locations_form.prefix }}",
                })
            })
    </script>
{% endblock %}