<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="dashBoardApp">
<head>
    <title>Panel de administracion - {{ profile.first_name|capfirst }} {{ profile.last_name|capfirst }}</title>
    {% include 'layout/stylesheets.html' %}

    <link rel="stylesheet" href="{% static 'css/less/dashboard.css' %}" >


    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-plain.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-snackbar/css/angular.snackbar.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-busy/dist/angular-busy.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-table/dist/ng-table.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tooltips/src/css/angular-tooltips.css' %}" />
</head>

<body>

{% include "layout/menu.html" %}


<div id="dashboard-body">
    <div id="dashboard-menu" class="col-md-2" >
        <ul class="nav nav-pills nav-stacked" >
            <li role="presentation" class="navbar-header">Menu</li>
            <li role="presentation"
                ui-sref="profile-detail"
                ng-class="{active: ('default' | includedByState) || ('profile-detail' | includedByState) || ('profile-update' | includedByState) || ('change-password' | includedByState )}">
                <a class="item-menu"><i class="glyphicon glyphicon-user"></i> Profile </a>
            </li>
            <li role="presentation"
                ng-class="{active: ('messages' | includedByState) || ('message-thread' | includedByState)}">
                <!--<div class="navbar-inner">-->
                <!--<div class="container-fluid">-->
                <a class="collapsed item-menu"
                   ui-sref="messages({'folder': 'inbox'})"
                   data-target="#nav-collapse-message"
                   data-toggle="collapse" ng-class="{collapsed: !('messages' | includedByState) && !('message-thread' | includedByState)}">
                    <i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge pull-right">2</span>
                </a>
                <div id="nav-collapse-message" class="nav-menu-collapse collapse" ng-class="{ in: ('messages' | includedByState) || ('message-thread' | includedByState)}">
                    <ul class="nav">
                        <li><a ui-sref="messages({'folder': 'inbox'})" ui-sref-active="active">Inbox</a></li>
                        <li><a ui-sref="messages({'folder': 'sent'})" ui-sref-active="active">Sent</a></li>
                        <li><a ui-sref="messages({'folder': 'trash'})" ui-sref-active="active">Tash</a></li>
                    </ul>
                </div>
                <!--</div>-->

                <!--</div>-->
            </li>
            <li role="presentation" ui-sref="my-ads" ui-sref-active="active" >
                <a class="item-menu"><i class="glyphicon glyphicon-bullhorn"></i> My ad</a>
            </li>
            <li role="presentation" ui-sref="my-locations" ui-sref-active="active">
                <a class="item-menu"><i class="glyphicon glyphicon-map-marker"></i> My locations</a>
            </li>
            <li role="presentation" ui-sref="favorite" ui-sref-active="active">
                <a class="item-menu"><i class="glyphicon glyphicon-heart"></i> My favorites</a>
            </li>
            <li role="presentation" ui-sref="agenda" ui-sref-active="active">
                <a class="item-menu"><i class="glyphicon glyphicon-calendar"></i> My agenda</a>
            </li>
            <li class="divider"></li>
            <li><a class="item-menu" href="{% url 'my-user:my-logout' %}"><i class="glyphicon glyphicon-off"></i> Salir</a></li>
        </ul>

    </div>

    <div ui-view class="col-md-10 dashboard-content">
    </div>
    <div class="snackbar-container" data-snackbar="true"></div>
</div>

<footter>
    <!-- ###################### IMPORT THIRD LIB ###################### -->

    <!-- jquery resources -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>


    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

    <!--<script type="text/javascript" src="{% static 'bower_components/jquery-cookie/jquery.cookie.js' %}"></script>-->

    <!-- angular resources -->
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
-->

    <script type="text/javascript" src="{% static 'bower_components/angular-google-maps/dist/angular-google-maps.js' %}"></script>
    <!-- google mapp -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>

    <!-- Nose (lo requiere google maps )-->
    <script type="text/javascript" src="{% static 'bower_components/lodash/dist/lodash.js' %}"></script>


    <!-- TOOLTIP -->
    <script type="text/javascript" src="{% static 'bower_components/angular-tooltips/src/js/angular-tooltips.js' %}"></script>

    <!-- VALIDATOR -->
    <script type="text/javascript" src="{% static 'bower_components/tg-angular-validator/dist/angular-validator.js' %}"></script>

    <!-- TABLES-->
    <script type="text/javascript" src="{% static 'bower_components/ng-table/dist/ng-table.js' %}"></script>

    <!-- ALERT NOTIFICATION -->
    <script type="text/javascript" src="{% static 'bower_components/angular-snackbar/angular.snackbar.js' %}"></script>

    <!-- EASY AND CUSTOMIZABLE POP UP DIALOG -->
    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>

    <!-- Angular and django rest framework Resource -->
    <script type="text/javascript" src="{% static 'bower_components/angular-django-rest-resource/angular-django-rest-resource.js' %}"></script>


    <!-- LOAD PROMISE -->
    <script type="text/javascript" src="{% static 'bower_components/angular-busy/dist/angular-busy.js' %}"></script>

    <!-- ###################### END IMPORT ###################### -->


    <!-- ###################### DASHBOARD APP ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/app.js' %}"></script>

    <!-- ###################### END DASHBOARD APP ###################### -->

    <!-- ###################### DASHBOARD APP - MODULE UTILS ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/utils/util.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/utils/directives/google-places.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/utils/directives/really-click.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/utils/directives/alert-notification.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/utils/directives/upload-file-model.directive.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE UTILS ###################### -->

    <!-- ###################### DASHBOARD APP - MODULE PROFILE ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/profile/profile.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/profile/services/profile.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/profile/controllers/detail-profile.controller.js' %}"></script>
    <!--<script type="text/javascript" src="{# static 'dashboard/profile/controllers/create-profile.controller.js' #}"></script>
    <script type="text/javascript" src="{% static 'dashboard/profile/controllers/update-profile.controller.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'dashboard/profile/controllers/change-password.controller.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE PROFILE ###################### -->


    <!-- ###################### DASHBOARD APP - MODULE AD ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/ad/ad.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/ad/services/ad.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/ad/controllers/ad.controller.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE AD ###################### -->


    <!-- ###################### DASHBOARD APP - MODULE MESSAGE ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/message/message.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/message/services/message.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/message/controllers/message.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/message/controllers/messageThread.controller.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE MESSAGE ###################### -->


    <!-- ###################### DASHBOARD APP - MODULE USER LOCATION ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/user-location/location.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/user-location/services/location.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/user-location/controllers/location.controller.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE USER LOCATION ###################### -->

    <!-- ###################### DASHBOARD APP - MODULE FAVORITES ###################### -->
    <script type="text/javascript" src="{% static 'dashboard/favorite/favorite.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/favorite/services/favorite.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/favorite/controllers/favorite.controller.js' %}"></script>
    <!-- ###################### END DASHBOARD APP - MODULE FAVORITES ###################### -->
</footter>
</body>
</html>
