{% load url from future %}
{% load i18n %}
{% load postman_tags  %}
{% load pagination_tags %}


<ul id="postman_menu" class="nav nav-pills" role="tablist">{% postman_unread as unread_count %}
    <li role="presentation" class="active"><a id="msg-inbox" href="#message-inbox">{% trans "Inbox" %} <span class="badge">{% if unread_count %}{{ unread_count }}{% else %}0{% endif %}</span></a></li>
    <li role="presentation"><a id="msg-sent" href="#message-sent">{% trans "Sent Messages" %}</a></li>
    <li role="presentation"><a id="msg-archives" href="#message-archives">{% trans "Archives" %}</a></li>
    <li role="presentation"><a id="msg-trash" href="#message-tash">{% trans "Trash" %}</a></li>
</ul>

<div id="msg-cotent">

</div>

<script>



    function AddMessageDetailAjax(){
        $('.detail_msg').each(function(){
            $( this ).click(function(){
                var message_id = this.getAttribute('value');
                var type = this.getAttribute('type');
                var end_url = this.getAttribute('url');

                var url ="";
                if(type == 'thread'){
                    url = "/message/ajax-view/t/" + message_id + end_url;
                }else{
                    url = "/message/ajax-view/" + message_id + end_url;
                }

                console.log(url);
                $.ajax({
                        url: url,
                        type: "get",
                        success: function(data){
                            $("#msg-cotent").html(data);
                        }
                });
            });
        });
    }



    function AjaxInbox(){
         $.ajax({
                url: "/message/ajax-inbox/",
                type: "get",
                success: function(data){
                    $("#msg-cotent").html(data);

                    AddMessageDetailAjax();


                }
        });
    }
    // Se le asigna la llamada del inbox al boton menssage del menu gral.
    $("#message-home").click(function() {
       AjaxInbox();
    });


    $("#msg-inbox").click(function() {
        AjaxInbox();
    });

    $("#msg-sent").click(function() {

        $.ajax({
                url: "/message/ajax-sent/",
                type: "get",
                success: function(data){
                    $("#msg-cotent").html(data);
                    AddMessageDetailAjax();
                }
        });
    });
    $("#msg-archives").click(function() {

        $.ajax({
                url: "/message/ajax-archives/",
                type: "get",
                success: function(data){
                    $("#msg-cotent").html(data);
                    AddMessageDetailAjax();
                }
        });
    });
    $("#msg-trash").click(function() {

        $.ajax({
                url: "/message/ajax-trash/",
                type: "get",
                success: function(data){
                    $("#msg-cotent").html(data);
                    AddMessageDetailAjax();
                }
        });
    });





</script>