{% load bootstrap3 %}
{% load thumbnail %}

<table class="table table-bordred table-striped">
    <thead>
    <th></th>
    <th></th>
    <th>Acciones</th>
    </thead>
    <tbody id="tab-all-message">
    {% for ad in user.ads.all %}
        <tr id="ad-row-{{ ad.id }}">
            <td>
                {% with ad.images.all|first as image %}
                    {% thumbnail image.image "100x100" crop="center" as im %}
                        <img id="media-object" class="img-rounded" src="{{ im.url }}" width="90" height="90">
                    {% endthumbnail %}
                {% endwith %}
            </td>
            <td>
                <h3><strong>{{ ad.title }}</strong></h3>
                <small>{{ ad.short_description }}</small>
                <p>{{ ad.slug }}</p>
            </td>
            <td class="v-center">
                <div class="row">
                    <a href="/ad/update/{{ ad.slug }}" class="btn btn-warning">{% bootstrap_icon "edit" %}</a>
                    <a href="/ad/{{ ad.slug }}" class="btn btn-success">{% bootstrap_icon "eye-open" %}</a>

                    <!-- BUTTON DELETE --->
                    <button data-toggle="modal" class="btn btn-danger" data-target="#modalMessage{{ forloop.counter0 }}">
                        {% bootstrap_icon "remove" %}
                    </button>
                    <!-- MODAL CONFIRMATION DELETE -->
                    <div class="modal" id="modalMessage{{ forloop.counter0 }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">Alerta</div>
                                <div class="modal-body">
                                    <h4>¿Seguro que desea borrar {{ ad.title }} ?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    {% csrf_token %}
                                    <button type="submit" class="delete_message btn btn-default" value="{{ ad.id }}">Ok <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>