/compraloahi/whoosh_index
/compraloahi.log
# Python bytecode
*.py[co]
*.pyc

.idea/
.idea/*

*/migrations/00*
migrations/0*


.codeintel/
.codeintel/*
/.directory
/compraloahi/media/cache
/compraloahi/media/group/*
/compraloahi/media/logo/*
/compraloahi/media/profile/*