Django==1.7
Markdown==2.5.1
Pillow==2.6.1
django-allauth==0.18.0
django-appconf==0.6
django-autoslug==1.7.2
django-autoslug-field==0.2.3
django-bootstrap3==4.11.0
django-ckeditor==4.4.6
django-comments-xtd==1.2
django-extensions==1.4.0
django-filter==0.8
django-haystack==2.3.1
django-pagination==1.0.7
django-relatedadminwidget==0.0.2
django-taggit==0.12.2
elasticsearch==1.2.0
oauthlib==0.6.3
pyelasticsearch==0.7.1
python3-openid==3.0.4
requests==2.4.3
requests-oauthlib==0.4.1
simplejson==3.6.5
six==1.8.0
sorl-thumbnail==11.12.1b
urllib3==1.9.1
