
<div class="panel panel-white">
    <div class="panel-body" cg-busy="vm.promiseRequest">

        <div class="content-data col-md-12" ng-show="vm.items.length > 0">
            <div class="col-md-12 body-header">
                <div class="col-md-8">
                    <a ui-sref="item-create" class="btn btn-warning" style="color: black;"><span class="fa fa-plus"></span> Agrega tu aviso</a>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input name="search" ng-model="vm.filters.title" class="form-control input-search" placeholder="Ingresa el titulo del aviso que buscas..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordred table-striped dataTable" ng-table="vm.tableParams" >
                <tbody>
                <tr id="item-row-{{ item.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in $data">
                    <td class="v-align-middle col-md-1"
                        data-title="'Imagen'">
                        <img id="media-object" class="img-rounded" ng-src="{{ item.images[0].thumbnail_110x110 }}" width="90" height="90">
                    </td>
                    <td class="v-align-middle col-md-9"
                        data-title="'Avisos'"
                        sortable="'title'" filter="{ 'title': 'text' }">
                        <h4><strong>{{ item.title }}</strong></h4>
                        <p>{{ item.short_description }}</p>
                        <small><strong>Fecha de publicacion : </strong>{{ item.pub_date }} || <strong>Price : </strong> $ {{ item.price }}</small>
                    </td>
                    <td class="v-align-middle col-md-2 text-center" data-title="'Acciones'">

                        <!-- view detail -->
                        <a href="/item/{{ item.slug }}" target="_blank"
                           class="btn btn-sm btn-default text-success btn-table"
                           tooltip="'Ir al detalle'" placement="top">
                            <span class="fa fa-eye"></span>
                        </a>
                        <!-- update -->
                        <button ui-sref="item-update({id:{{ item.id }}})"
                                class="btn btn-sm text-warning btn-default btn-table"
                                tooltip="'Editar aviso'" placement="top">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <!-- delete -->
                        <button class="btn btn-sm btn-default text-danger btn-table"
                                ng-really-message="Estas seguro que deseas borrar el aviso {{ item.title }} ?"
                                ng-really-click="vm.destroy(item)"
                                item="item">
                                <span class="fa fa-trash-o"
                                      tooltip="'Eliminar aviso'"
                                      placement="top"></span>
                        </button>
                        
                        <!-- SHARE FACEBOOK -->
                        <a href="#"
                        class="btn btn-sm btn-facebook btn-table" 
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                            socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                            <i class="fa fa-facebook" tooltip="'Compartir en Facebook'"
                                      placement="top"></i>
                            </a>
                        
                        <!-- SHARE TWITTER -->
                        <a href="#"
                        class="btn btn-sm btn-twitter btn-table" 
                            socialshare
                            socialshare-provider="twitter"
                            socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                            socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                            <i class="fa fa-twitter" tooltip="'Compartir en Twitter'"
                                      placement="top"></i>
                            </a>
                        
                        <!-- SHARE GOOGLE+ -->
                        <a href="#"
                        class="btn btn-sm btn-google btn-table" 
                            socialshare
                            socialshare-provider="google+"
                            socialshare-text="Compraloahí - Encontra productos y servicios cerca."
                            socialshare-url="http://compraloahi.com.ar/item/{{ item.slug }}">
                            <i class="fa fa-google-plus" tooltip="'Compartir en Google+'"
                                      placement="top"></i>
                            </a>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="content-data col-md-12" ng-show="vm.items.length == 0 && vm.request">
            <p>No tienenes ningun aviso. Puedes empezar cargando tu primer aviso</p>
            <a ui-sref="item-create" class="btn btn-success"><span class="fa fa-plus"></span> Agrega tu aviso</a>
        </div>
    </div>
</div>
