/*
@panel-default-heading-bg:    #008080;
@panel-heading-padding:       0px 0px 0px 20px;

*/
/*
@brand-primary: #466178; // #337ab7
@brand-success: #2b7929;
@brand-info: #488dbd;
@brand-warning: #d89b47;
@brand-danger: #8d101d;
*/
html,
body {
  height: 100%;
}
html .modal-backdrop,
body .modal-backdrop {
  z-index: 999;
}
html .input-group-custom-addon.icon-addon.addon-sm,
body .input-group-custom-addon.icon-addon.addon-sm {
  position: relative;
  color: #ce4f00;
}
html .input-group-custom-addon.icon-addon.addon-sm:after,
body .input-group-custom-addon.icon-addon.addon-sm:after {
  clear: both;
}
html .input-group-custom-addon.icon-addon.addon-sm .fa,
body .input-group-custom-addon.icon-addon.addon-sm .fa,
html .input-group-custom-addon.icon-addon.addon-sm .glyphicon,
body .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  position: absolute;
  height: 29px;
  top: 0px;
  width: 30px;
  padding: 0px;
  margin-top: 3px;
  border: none;
  border-left: 1px solid #ce4f00;
  font-size: 18px;
  margin-right: 0;
  right: 5px;
  background: none;
  z-index: 99;
}
html .input-group-custom-addon.icon-addon.addon-sm:focus,
body .input-group-custom-addon.icon-addon.addon-sm:focus {
  color: #000 !important;
}
html input[type='range'],
body input[type='range'] {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
  vertical-align: middle;
}
html input[type='range']::-moz-range-track,
body input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
}
html input[type='range']::-webkit-slider-thumb,
body input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
html input[type='range']::-moz-range-thumb,
body input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
#logo {
  height: 50px;
}
/**
____________________________________________________________________________________
i-check examples:
-----------------
  1 -
    <div class="checkbox">
      <label class="i-checks">
        <input checked="" value="" type="checkbox">
        <i></i>
        Label checked
      </label>
    </div>

  2 -
    <div class="radio">
      <label class="i-checks">
        <input name="test" value="value" type="radio">
        <i></i>
        Label radio
      </label>
    </div>

____________________________________________________________________________________
input-group-custom-addon examples:
-----------------
  1 -
    <div class="input-group-custom-addon icon-addon addon-sm">
        <input type="text" class="form-control">
        <button class="glyphicon"></button>
    </div>


*/
.logo-box {
  width: auto !important;
}
.search-form {
  margin-top: 5px !important;
  height: 50px !important;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #e9e9e9;
}
.search-form .search-input,
.search-form .input-group {
  height: 40px !important;
  margin-bottom: 10px !important;
}
.nav-user-dropdown-responsive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  right: 0;
}
.nav-user-dropdown-responsive .a {
  display: inline-block !important;
  padding: 0px 18px !important;
  color: #5F5F5F;
  border: none;
  position: relative;
  line-height: 20px;
  float: right;
  font-size: 17px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .search-form {
    width: 70%;
    margin-left: 15%;
  }
  .nav-user-dropdown-responsive {
    display: block;
  }
}
.product {
  font-family: Ubuntu, Arial, sans-serif;
}
h1.product.title {
  color: #265280;
  font-size: 30px;
  display: block;
  margin-bottom: 0px;
}
.product.price {
  padding-top: 10px;
  font-style: bold;
  font-family: sans-serif;
  text-align: right;
  width: 100%;
  font-size: 39px;
  color: #ff7f2a;
  display: block;
}
.product.price sup {
  font-size: 18px;
  vertical-align: top;
  position: relative;
  top: 0.5em;
}
.product.desc {
  margin-top: 80px;
  display: block;
  font-size: 17px;
}
.contact.btn {
  color: white;
}
.social {
  margin: 25px;
}
.social a {
  margin: 0px  15px;
}
.comment-form form .btn {
  color: white;
  background-color: #074e7c;
}
