@import 'base.less';

.container-form-ad{
    padding: 20px;
    .django-ckeditor-widget{
      width: 100%;
      #cke_id_body{
        width: 100%;
      }
    }
    #mapa{
      height: 500px;
      margin: 20px;
    }
}