@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'mixin.less';

@header-height: 50px;
@header-form-height: 30px;


@navbar-default-bg: #f2f2f2;

.navbar-default{
	.mixin-shadow-bottom();
	height: @header-height;

	form{
		height: @header-form-height;
		.navbar-vertical-align(@header-form-height);
        #q{
            border: .5px solid #C3C3C3;
        }


	}
	#logo{
		.navbar-vertical-align(34);
	}




}

body{
	margin-top: 50px;

    input, .btn, .form-control{
        border-radius: 0px;
        height: 30px;
        border: none;
    }

    .modal-content{
        border-radius: 0px;

        .modal-header{
            padding: 5px;
            text-align: center;
            height: 30px;

            .close{
              font-size: 1.3em;
              font-weight: 600;
            }
        }
        .modal-body{
          overflow: auto;
          overflow-x: hidden;
        }
    }

}




.input-group-custom-addon.icon-addon.addon-sm{

    position: relative;
    color: #aa4400;

    &:after {
        clear: both;
    }

    .fa,
    .glyphicon {
        position: absolute;
        height: 24px;
        top: 0px;
        width: 30px;
        padding: 0px;
        margin-top: 3px;
        border: none;
        border-left: 1px solid #aa4400;
        font-size: 18px;
        margin-right: 0;
        right: 5px;
        margin-right: 0;
        right: 5px;
        background: none;
        z-index: 99;
    }

    &:focus{
      color: #000 !important;
    }
}




