@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'mixin.less';





// ----- COLOR VAR -----

@brand-primary: darken(#254992, 6.5%); // #337ab7
@brand-success: #2b7929;
@brand-info: #488dbd;
@brand-warning: #d89b47;
@brand-danger: #8d101d;

@input-border: #c3c3c3;

// ----- END COLOR VAR ---


@header-height: 50px;
@header-form-height: 30px;

@component-height: 30px;


@navbar-default-bg: #f2f2f2;

.navbar-default{
	.mixin-shadow-bottom();
	height: @header-height;

	form{
		height: @header-form-height;
		.navbar-vertical-align(@header-form-height);
        #q{
            border: 1px solid @input-border;
        }


	}
	#logo{
		.navbar-vertical-align(34);
	}




}

body{
	margin-top: 50px;

    input, .form-control{
        border-radius: 0px;
        height: @component-height;
        border: 1px @input-border;
    }
    .btn, output{
        border-radius: 0px;
        height: @component-height;
        border: none;
    }

    .modal-content{
        border-radius: 0px;

        .modal-header{
            padding: 5px;
            text-align: center;
            height: 30px;

            .close{
              font-size: 1.3em;
              font-weight: 600;
            }
        }
        .modal-body{
          overflow: auto;
          overflow-x: hidden;
        }
        .modal-footer{
          border: none;
          .btn{
            margin-left: 10px;
          }
        }
    }

    .i-checks{
          padding-left: 20px;
          cursor: pointer;
          input{
              opacity: 0;
              position: absolute;
              margin-left: -20px;
              &:checked + i{
                  border-color: #aa4400;
                  &:before{
                      left: 4px;
                      top: 4px;
                      width: 10px;
                      height: 10px;
                      background-color: #aa4400;
                  }
            }
            &:checked + span .active{
                display: inherit;
            }
            &[type="radio"] + i{
                &,
                &:before{
                    border-radius: 50%;
                }
            }
            &[type="checkbox"]:checked + i:before{

            }
            &[type="radio"]:checked + i:before{

            }
            &[disabled],
            fieldset[disabled] & {
              & + i{
                    border-color: lighten(@input-border, 5%);
                    &:before{
                        background-color: lighten(@input-border, 5%);
                    }
              }
            }
          }
          > i{
            width: 20px;
            height: 20px;
            line-height: 1;
            border: 1px solid @input-border;
            background-color: #fff;
            margin-left: -20px;
            margin-top: -2px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            position: relative;
            &:before{
              content:"";
              position: absolute;
              left: 10px;
              top: 10px;
              width: 0px;
              height: 0px;
              background-color: transparent;
              .transition(all 0.2s);
            }
          }
          > span{
            margin-left: -20px;
            .active{
              display: none;
            }
          }
        }

}




.input-group-custom-addon.icon-addon.addon-sm{
    position: relative;
    color: #aa4400;

    &:after {
        clear: both;
    }

    .fa,
    .glyphicon {
        position: absolute;
        height: 24px;
        top: 0px;
        width: 30px;
        padding: 0px;
        margin-top: 3px;
        border: none;
        border-left: 1px solid #aa4400;
        font-size: 18px;
        margin-right: 0;
        right: 5px;
        margin-right: 0;
        right: 5px;
        background: none;
        z-index: 99;
    }

    &:focus{
      color: #000 !important;
    }
}



/*

____________________________________________________________________________________
i-check examples:
-----------------
  1 -
    <div class="checkbox">
      <label class="i-checks">
        <input checked="" value="" type="checkbox">
        <i></i>
        Label checked
      </label>
    </div>

  2 -
    <div class="radio">
      <label class="i-checks">
        <input name="test" value="value" type="radio">
        <i></i>
        Label radio
      </label>
    </div>

____________________________________________________________________________________
input-group-custom-addon examples:
-----------------
  1 -
    <div class="input-group-custom-addon icon-addon addon-sm">
        <input type="text" class="form-control">
        <button class="glyphicon"></button>
    </div>




*/
