@import '../../bower_components/bootstrap/less/bootstrap.less';
@import 'mixin.less';

@header-height: 50px;
@header-form-height: 30px;


@navbar-default-bg: #f2f2f2;

.navbar-default{
	.mixin-shadow-bottom();
	height: @header-height;

	form{
		height: @header-form-height;
		.navbar-vertical-align(@header-form-height);
	}
	#logo{
		.navbar-vertical-align(34);
	}




}

body{
	margin-top: 50px;

	input[type="text"]{
		height: 30px;
		border-radius: 0px;
	}




}


.icon-addon {
    position: relative;
    color: #aa4400;
}
.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    height: 24px;
    top: 0px;
    width: 30px;
    padding: 0px;
    margin-top: 3px;
    border-left: 1px solid #aa4400;
    font-size: 18px;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-right: 0;
    right: 5px;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #aa4400 !important;
}

.btn-search{
    border: none;
    background: none;
    z-index: 99;
}