/*
@panel-default-heading-bg:    #008080;
@panel-heading-padding:       0px 0px 0px 20px;

*/
/*
@brand-primary: #466178; // #337ab7
@brand-success: #2b7929;
@brand-info: #488dbd;
@brand-warning: #d89b47;
@brand-danger: #8d101d;
*/
html,
body {
  height: 100%;
}
html .modal-backdrop,
body .modal-backdrop {
  z-index: 1100;
}
html .modal-footer button,
body .modal-footer button {
  margin-left: 10px;
}
html .navbar,
body .navbar {
  -webkit-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  -moz-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  z-index: 10 !important;
  background-color: #E5E5E5;
}
html .navbar .topmenu-outer,
body .navbar .topmenu-outer {
  background-color: #E5E5E5;
}
html .horizontal-bar,
body .horizontal-bar {
  z-index: 9;
}
html .input-group-custom-addon.icon-addon.addon-sm,
body .input-group-custom-addon.icon-addon.addon-sm {
  position: relative;
  color: #ce4f00;
}
html .input-group-custom-addon.icon-addon.addon-sm:after,
body .input-group-custom-addon.icon-addon.addon-sm:after {
  clear: both;
}
html .input-group-custom-addon.icon-addon.addon-sm .fa,
body .input-group-custom-addon.icon-addon.addon-sm .fa,
html .input-group-custom-addon.icon-addon.addon-sm .glyphicon,
body .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  position: absolute;
  height: 29px;
  top: 0px;
  width: 30px;
  padding: 0px;
  margin-top: 3px;
  border: none;
  border-left: 1px solid #ce4f00;
  font-size: 18px;
  margin-right: 0;
  right: 5px;
  background: none;
  z-index: 99;
}
html .input-group-custom-addon.icon-addon.addon-sm:focus,
body .input-group-custom-addon.icon-addon.addon-sm:focus {
  color: #000 !important;
}
html input[type='range'],
body input[type='range'] {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
  vertical-align: middle;
}
html input[type='range']::-moz-range-track,
body input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
}
html input[type='range']::-webkit-slider-thumb,
body input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
html input[type='range']::-moz-range-thumb,
body input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
#logo {
  height: 45px;
}
@media (max-width: 767px) {
  #logo {
    margin-left: 15px;
  }
}
.search-form {
  z-index: 500 !important;
}
/**
____________________________________________________________________________________
i-check examples:
-----------------
  1 -
    <div class="checkbox">
      <label class="i-checks">
        <input checked="" value="" type="checkbox">
        <i></i>
        Label checked
      </label>
    </div>

  2 -
    <div class="radio">
      <label class="i-checks">
        <input name="test" value="value" type="radio">
        <i></i>
        Label radio
      </label>
    </div>

____________________________________________________________________________________
input-group-custom-addon examples:
-----------------
  1 -
    <div class="input-group-custom-addon icon-addon addon-sm">
        <input type="text" class="form-control">
        <button class="glyphicon"></button>
    </div>


*/
.logo-box {
  width: auto !important;
}
.search-form {
  margin-top: 5px !important;
  height: 50px !important;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #e9e9e9;
}
@media (max-width: 767px) {
  .search-form {
    width: 70%;
    margin-left: 15%;
  }
}
.search-form .input-group {
  height: 50px;
}
.search-form .input-group input {
  color: #5f5f5f;
  border: 1px solid #c8c8c8;
  box-shadow: none;
  border-radius: 0;
  background: 0 0;
  line-height: 60px;
  font-size: 16px;
  padding-left: 20px !important;
  padding-bottom: 5px !important;
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.nav-user-dropdown-responsive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  right: 0;
}
@media (max-width: 767px) {
  .nav-user-dropdown-responsive {
    display: block;
  }
}
.nav-user-dropdown-responsive .a {
  display: inline-block !important;
  padding: 0px 18px !important;
  color: #5F5F5F;
  border: none;
  position: relative;
  line-height: 20px;
  float: right;
  font-size: 17px;
  text-decoration: none;
}
html {
  overflow: hidden;
}
.page-content,
.page-inner {
  height: 100%;
}
.container-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.page-content {
  margin-bottom: 40px;
}
.page-inner {
  padding-bottom: 0px !important;
}
.page-footer {
  position: relative !important;
}
.Tooltip {
  z-index: 2000;
  position: absolute;
}
#container-profile-data .body-container {
  margin-top: 25px;
}
#container-profile-data h3 {
  color: #aa4400;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 100%;
  height: 35px;
  font-weight: bold;
}
#container-profile-data p {
  margin-left: 20px;
  height: 35px;
}
#container-profile-data li {
  margin-right: 10px;
  height: 35px;
}
#container-profile-data .icon-desc {
  margin-right: 10px;
}
#container-profile-data #contact-number-list {
  list-style: none;
  margin-left: 20px;
  padding-left: 0px;
}
#container-profile-data #contact-number-list .input-contact-number {
  width: 175px;
}
#container-locations-data {
  min-height: 480px;
}
#container-locations-data #location-map {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 400px;
}
#container-locations-data #content-header-forms-location {
  height: 35px;
}
#container-locations-data #content-header-forms-location #form-location {
  padding: 0px;
}
#container-locations-data #content-header-forms-location #form-location #form-location-btn {
  padding-left: 0px;
  padding-right: 0px;
}
#container-locations-data #content-header-forms-location #form-location #form-location-btn .btn {
  margin-right: 5px;
}
#container-locations-data #content-header-forms-location #form-location #form-location-input {
  padding: 0px;
}
#container-locations-data #content-header-forms-location #form-location #form-location-input input {
  width: 100%;
}
#container-locations-data #data-position-form {
  -webkit-box-shadow: 1px 1px 2px 0.5px #626060;
  -moz-box-shadow: 1px 1px 2px 0.5px #626060;
  box-shadow: 1px 1px 2px 0.5px #626060;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  margin-top: 10px;
  z-index: 10;
}
#container-locations-data #data-position-form .input-group-custom-addon.icon-addon.addon-sm {
  color: #4e6c83;
}
#container-locations-data #data-position-form .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  border-color: #4e6c83;
}
#container-locations-data #data-position-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #c3c3c3;
}
#container-locations-data #data-position-form .range {
  margin-top: 10px;
}
#container-locations-data #data-position-form #range {
  border: none;
}
#container-locations-data #data-position-form #map-radius {
  z-index: 10;
}
#container-locations-data #data-position-form .form-inline {
  margin-right: 5px;
}
#container-locations-data #data-position-form .form-inline #range {
  font-weight: bold;
  color: #4e6c83;
  padding: 6px 4px;
}
#container-locations-data #data-position-form .form-inline .label-dist {
  font-size: .8em;
  vertical-align: bottom;
  margin-top: 13px;
}
#container-locations-data #data-position-form .form-inline .data-point {
  font-size: .8em;
  margin: 13px 5px 0px 0px;
}
#container-ad-create-data #mapa {
  height: 500px;
  margin: 20px;
}
#container-ad-create-data #search-places {
  width: 90%;
  height: 35px !important;
}
#container-ad-create-data #location-map {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
#container-ad-create-data #data-position-form {
  -webkit-box-shadow: 1px 1px 2px 0.5px #626060;
  -moz-box-shadow: 1px 1px 2px 0.5px #626060;
  box-shadow: 1px 1px 2px 0.5px #626060;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  margin-top: 10px;
  z-index: 10;
  width: 100%;
}
#container-ad-create-data #data-position-form .input-group {
  width: 100%;
}
#container-ad-create-data #data-position-form .input-group-custom-addon.icon-addon.addon-sm {
  color: #4e6c83;
}
#container-ad-create-data #data-position-form .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  border-color: #4e6c83;
}
#container-ad-create-data #data-position-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #c3c3c3;
}
#container-ad-create-data .categories {
  min-height: 100px;
  list-style: none;
}
#container-ad-create-data .categories li {
  width: 180px;
  float: left;
}
.body-header {
  padding: 5px 15px 20px;
}
.angular-google-map-container {
  min-height: 400px !important;
  width: 100%;
}
.disabled {
  z-index: 10;
  background-color: #b1b1b1;
  opacity: 0.6;
  pointer-events: none;
}
fieldset[disabled] {
  background-color: #b1b1b1;
}
hr {
  border-color: #BBBBBB;
}
.panel .panel-body {
  min-height: 350px;
}
.panel .panel-footer {
  min-height: 55px;
}
.panel .panel-footer button {
  margin-left: 5px;
  margin-right: 5px;
}
.table thead tr th {
  padding: 10px !important;
  border-color: rgba(5, 0, 69, 0.76) !important;
}
.ng-table th.sortable.sort-asc {
  background-color: rgba(35, 194, 0, 0.3) !important;
}
.cg-busy {
  top: 0px !important;
}
.check-field {
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 10px;
  top: 31px;
  background-color: #0DAD9E;
  padding: 2px;
}
@media (max-width: 767px) {
  .horizontal-bar {
    z-index: 390;
  }
}
.sidebar-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #20BEDA;
  color: #ffffff;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 12px;
}
.help {
  width: 100%;
  font-style: italic;
  color: #a3a3a3;
  font-weight: bold;
  display: block;
}
.page-sidebar-inner {
  -webkit-box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
  -moz-box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
  box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
}
.page-sidebar-inner .menu-icon {
  font-size: 17px !important;
}
.page-sidebar-inner #btn-add-ad {
  margin: 10px !important;
  height: auto;
  background-color: #fada44;
  padding: 5px;
  -webkit-box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
  -moz-box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
  box-shadow: 0.5px 0.5px 1px 0.2px #dfdfdf;
  position: absolute;
  left: 0px;
}
@media (max-width: 767px) {
  .page-sidebar-inner #btn-add-ad {
    width: 40px;
    position: relative;
  }
  .page-sidebar-inner #btn-add-ad a {
    text-align: center;
  }
}
.page-sidebar-inner #btn-add-ad a {
  padding: 5px !important;
  width: 100%;
  /*@media (max-width: 767px)*/
}
.page-sidebar-inner #btn-add-ad a span {
  font-size: 20px !important;
  margin-bottom: 0px !important;
}
.page-sidebar-inner #btn-add-ad a:hover {
  color: #000000;
  font-weight: bolder;
}
.btn-table {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
