@import 'base.less';

.container-form-ad{
  padding: 20px 40px 40px 40px;
  background-color: #EFEFEF;
  .django-ckeditor-widget{
    width: 100%;
    #cke_id_body{
      width: 100%;
    }
  }
  #mapa{
    height: 500px;
    margin: 20px;
  }
  #search-places{
    width: 90%;
    height: 35px !important;
  }
}

#id_categories{
  .checkbox{
    float: left;
    width: 150px;

  }
}


#location-map{
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;

}

#data-position-form{
  .mixin-shadow-bottom(1px, 1px, 2px, .5px, #626060);
  background-color: rgba(255,255,255,0.8);
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  margin-top: 10px;
  z-index: 10;
  width: 100%;


  .input-group{
    width: 100%;
  }

  .input-group-custom-addon.icon-addon.addon-sm{
    color: @color-location;
    .glyphicon {
      border-color: @color-location;
    }
  }

  input[type="text"]{
    border: none;
    border-bottom: 1px solid @input-border;
  }
}

.angular-google-map-container{
  height: 400px;
  width: 100%;
}


.inline.images.form-inline.dynamic-form{
  height: 50px;
  width: 320px;
  margin-top: 15px;
  position: relative;
  float: left;

  label{
    display: none;

  }
  .delete-row button{
    position: absolute;
    right: 10px;
    top: 0px;
    background: none;
  }
}
.add-row button{
  position: absolute;
  top: 0px;
  right: 20px;
}

#dashboard-menu{
  position: fixed;
  background-color: #1C2B36;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  .navbar-header{
    margin-top: 20px;
    height: 40px;
    color: #787878;
    float: none;
    margin-bottom: 10px;
  }

  .divider{
    width: 100%;
    border-bottom: 1px solid #7c958f;
  }
  ul{

    .navbar-header{
      margin-left: 30px;
    }

    li{
      &.active{

        background-color: #1E3C78;
      }
      &:hover, &:focus{
        background-color: none;
        font-size: bold;
        color: black;
      }
    }


    .item-menu{
      color: #c3c3c3;
      min-height: 30px;
      padding: 10px 0px;
      width: 100%;
      margin-right: 15px;
      background-color: none;

      i{
        margin-right: 5px;
        margin-left: 15px;
      }

      .badge{
        margin-right: 15px;
      }


    }
  }
}
