/* LESS PARA LISTA DE AVISOS */
/*
@panel-default-heading-bg:    #008080;
@panel-heading-padding:       0px 0px 0px 20px;

*/
/*
@brand-primary: #466178; // #337ab7
@brand-success: #2b7929;
@brand-info: #488dbd;
@brand-warning: #d89b47;
@brand-danger: #8d101d;
*/
html,
body {
  height: 100%;
}
html .modal-backdrop,
body .modal-backdrop {
  z-index: 1100;
}
html .modal-footer button,
body .modal-footer button {
  margin-left: 10px;
}
html .navbar,
body .navbar {
  -webkit-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  -moz-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  z-index: 10 !important;
  background-color: #E5E5E5;
}
html .navbar .topmenu-outer,
body .navbar .topmenu-outer {
  background-color: #E5E5E5;
}
html .horizontal-bar,
body .horizontal-bar {
  z-index: 9;
}
html .input-group-custom-addon.icon-addon.addon-sm,
body .input-group-custom-addon.icon-addon.addon-sm {
  position: relative;
  color: #ce4f00;
}
html .input-group-custom-addon.icon-addon.addon-sm:after,
body .input-group-custom-addon.icon-addon.addon-sm:after {
  clear: both;
}
html .input-group-custom-addon.icon-addon.addon-sm .fa,
body .input-group-custom-addon.icon-addon.addon-sm .fa,
html .input-group-custom-addon.icon-addon.addon-sm .glyphicon,
body .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  position: absolute;
  height: 29px;
  top: 0px;
  width: 30px;
  padding: 0px;
  margin-top: 3px;
  border: none;
  border-left: 1px solid #ce4f00;
  font-size: 18px;
  margin-right: 0;
  right: 5px;
  background: none;
  z-index: 99;
}
html .input-group-custom-addon.icon-addon.addon-sm:focus,
body .input-group-custom-addon.icon-addon.addon-sm:focus {
  color: #000 !important;
}
html input[type='range'],
body input[type='range'] {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
  vertical-align: middle;
}
html input[type='range']::-moz-range-track,
body input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
}
html input[type='range']::-webkit-slider-thumb,
body input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
html input[type='range']::-moz-range-thumb,
body input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #4e6c83;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
.search-form {
  z-index: 500 !important;
}
/**
____________________________________________________________________________________
i-check examples:
-----------------
  1 -
    <div class="checkbox">
      <label class="i-checks">
        <input checked="" value="" type="checkbox">
        <i></i>
        Label checked
      </label>
    </div>

  2 -
    <div class="radio">
      <label class="i-checks">
        <input name="test" value="value" type="radio">
        <i></i>
        Label radio
      </label>
    </div>

____________________________________________________________________________________
input-group-custom-addon examples:
-----------------
  1 -
    <div class="input-group-custom-addon icon-addon addon-sm">
        <input type="text" class="form-control">
        <button class="glyphicon"></button>
    </div>


*/
.logo-box {
  width: auto !important;
}
.logo-box #logo {
  height: 45px;
}
@media (max-width: 767px) {
  .logo-box #logo {
    display: none;
  }
}
#iso-logo {
  height: 45px;
}
@media (max-width: 767px) {
  #iso-logo {
    margin-left: 15px;
  }
}
.search-form {
  margin-top: 5px !important;
  height: 50px !important;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #e9e9e9;
}
@media (max-width: 767px) {
  .search-form {
    width: 70%;
    margin-left: 15%;
  }
}
.search-form .input-group {
  height: 50px;
}
.search-form .input-group input {
  color: #5f5f5f;
  border: 1px solid #c8c8c8;
  box-shadow: none;
  border-radius: 0;
  background: 0 0;
  line-height: 60px;
  font-size: 16px;
  padding-left: 20px !important;
  padding-bottom: 5px !important;
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.nav-user-dropdown-responsive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  right: 0;
}
@media (max-width: 767px) {
  .nav-user-dropdown-responsive {
    display: block;
  }
}
.nav-user-dropdown-responsive .a {
  display: inline-block !important;
  padding: 0px 18px !important;
  color: #5F5F5F;
  border: none;
  position: relative;
  line-height: 20px;
  float: right;
  font-size: 17px;
  text-decoration: none;
}
html {
  overflow: hidden;
}
.page-content,
.page-inner {
  height: 100%;
}
.container-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.page-content {
  margin-bottom: 40px;
}
.page-inner {
  padding-bottom: 0px !important;
}
.page-footer {
  position: relative !important;
}
.Tooltip {
  z-index: 2000;
  position: absolute;
}
#page-items-list,
#map-container,
#container-item-list {
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
#map-container {
  height: 100%;
  padding: 0px;
  position: relative;
}
#map-container #mapa,
#map-container .angular-map-container {
  width: 100%;
  height: 100%;
}
#data-filter-map {
  position: absolute;
  z-index: 2;
  left: 10px;
  width: 100%;
  padding: 10px;
}
#data-filter-map #data-position-form {
  -webkit-box-shadow: 1px 1px 2px 0.5px #626060;
  -moz-box-shadow: 1px 1px 2px 0.5px #626060;
  box-shadow: 1px 1px 2px 0.5px #626060;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  float: left;
  width: 410px;
  position: relative;
  min-height: 70px;
}
#data-filter-map #data-position-form #flag-custom-location {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
}
#data-filter-map #data-position-form .input-group-custom-addon.icon-addon.addon-sm {
  color: #4e6c83;
}
#data-filter-map #data-position-form .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  border-color: #4e6c83;
}
#data-filter-map #data-position-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #c3c3c3;
}
#data-filter-map #data-position-form .range {
  margin-top: 10px;
}
#data-filter-map #data-position-form #range {
  border: none;
}
#data-filter-map #data-position-form .form-inline {
  margin-right: 5px;
}
#data-filter-map #data-position-form .form-inline #range {
  font-weight: bold;
  color: #4e6c83;
  padding: 3px;
  padding-top: 10px;
}
#data-filter-map #data-position-form .form-inline .label-dist {
  font-size: .8em;
  vertical-align: bottom;
}
#data-filter-map #data-position-form .btn-data-position {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  padding: 2px;
}
#data-filter-map #data-position-form .user-location-list {
  padding: 10px;
  padding-left: 30px;
  width: 200px;
  margin-top: 10px;
}
#data-filter-map #data-position-form #btn-data-position-items-list {
  background-color: #4e6c83;
}
#data-filter-map #btn-my-locations {
  margin-left: 10px;
  background-color: #4e6c83;
  -webkit-box-shadow: 1px 1px 2px 1px #434343;
  -moz-box-shadow: 1px 1px 2px 1px #434343;
  box-shadow: 1px 1px 2px 1px #434343;
}
#data-filter-map #btn-save-location {
  margin-left: 10px;
  -webkit-box-shadow: 1px 1px 2px 1px #434343;
  -moz-box-shadow: 1px 1px 2px 1px #434343;
  box-shadow: 1px 1px 2px 1px #434343;
}
#data-filter-map #btn-filter-facet {
  background-color: #577aba;
  width: 120px;
  font-size: 1.1em;
  -webkit-box-shadow: 1px 1px 2px 1px #434343;
  -moz-box-shadow: 1px 1px 2px 1px #434343;
  box-shadow: 1px 1px 2px 1px #434343;
}
#data-filter-map #btn-filter-facet i {
  margin-right: 10px;
}
#data-filter-map #list-filters-active {
  float: right;
  clear: right;
  list-style: none;
}
#data-filter-map #list-filters-active .active-filter {
  -webkit-box-shadow: 1px 1px 2px 1px #434343;
  -moz-box-shadow: 1px 1px 2px 1px #434343;
  box-shadow: 1px 1px 2px 1px #434343;
  background-color: #577aba;
  margin-top: 10px;
  color: white;
  font-size: .9em;
  height: 20px;
}
#data-filter-map #list-filters-active .active-filter #btn-remove-filter {
  float: right;
  top: 0px;
  color: white;
}
#data-filter-map #list-filters-active .active-filter #btn-remove-filter:hover {
  color: black;
}
#data-filter-map #list-filters-active .active-filter span {
  margin: 5px 5px;
}
#container-item-list {
  float: right;
  -webkit-box-shadow: -1px 0px 1px 1px #cccccc;
  -moz-box-shadow: -1px 0px 1px 1px #cccccc;
  box-shadow: -1px 0px 1px 1px #cccccc;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  border-left: 0.1px solid #c3c3c3;
}
@media (max-width: 767px) {
  #container-item-list {
    min-height: initial;
    height: 180px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0px;
  }
}
#container-item-list #container-items {
  -webkit-box-shadow: 0px -0.3px 1px 0.3px #4f4f4f;
  -moz-box-shadow: 0px -0.3px 1px 0.3px #4f4f4f;
  box-shadow: 0px -0.3px 1px 0.3px #4f4f4f;
}
#container-item-list #header-list {
  background-color: #C5C5C5;
  height: 45px;
  padding: 5px 0px;
}
#container-item-list #header-list #btn-collapse {
  width: 20px;
  margin-top: 2px;
  padding: 4px;
  float: left;
  margin-left: 5px;
}
#container-item-list #header-list p {
  float: left;
  vertical-align: bottom;
  margin-left: 40px;
  padding: 0px;
  bottom: 0px;
  position: absolute;
}
#container-item-list #header-list .order-by-container {
  float: right;
  margin-right: 15px;
}
@media (max-width: 767px) {
  #container-item-list #header-list .order-by-container label {
    display: none;
  }
}
#container-item-list #header-list .order-by-container-collapse {
  float: right;
  width: 73%;
  margin-right: 5px;
}
#container-item-list #header-list .order-by-container-collapse select {
  width: 100%;
}
#container-item-list #ad-list {
  overflow: hidden;
  height: auto;
  padding-top: 20px;
}
#container-item-list .item-items-list {
  -webkit-box-shadow: 0.5px 0.5px 0px 0.5px #cccccc;
  -moz-box-shadow: 0.5px 0.5px 0px 0.5px #cccccc;
  box-shadow: 0.5px 0.5px 0px 0.5px #cccccc;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  height: 130px;
}
#container-item-list .item-items-list .container-img {
  padding: 0px;
  min-height: 100px;
}
#container-item-list .item-items-list .container-text {
  padding: 0px;
}
#container-item-list .item-items-list .container-text h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  max-height: 35px;
}
#container-item-list .item-items-list .container-text small {
  font-size: .8em;
  color: #8C8C8C;
}
#container-item-list .item-items-list .container-text p {
  font-size: .9em;
}
#container-item-list .item-items-list .locate-it {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-box-shadow: -1px 1px 1px 1px #cccccc;
  -moz-box-shadow: -1px 1px 1px 1px #cccccc;
  box-shadow: -1px 1px 1px 1px #cccccc;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
#container-item-list .item-items-list .locate-it:hover {
  -webkit-box-shadow: 1px 1px 3px 4px #1e617d;
  -moz-box-shadow: 1px 1px 3px 4px #1e617d;
  box-shadow: 1px 1px 3px 4px #1e617d;
}
#container-item-list .item-items-list .price-items-list {
  font-size: 1.3em;
  color: #aa0000;
  padding-bottom: 10px;
  font-weight: 500;
  position: absolute;
  right: 20px;
  bottom: 0px;
}
#container-item-list .item-items-list.collapsed {
  height: 100%;
}
#container-item-list .item-items-list.collapsed .container-img img {
  width: 100%;
}
#container-item-list .item-items-list.collapsed .price-items-list {
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#container-item-list .items-list-item-hover {
  -webkit-box-shadow: 1px 1px 3px 4px #1e617d;
  -moz-box-shadow: 1px 1px 3px 4px #1e617d;
  box-shadow: 1px 1px 3px 4px #1e617d;
}
#container-item-list #pagination {
  padding-left: 20px;
}
#modalFilterFacet {
  left: auto;
  right: 0;
  width: 250px;
}
#modalFilterFacet:before {
  left: auto;
  right: 9xp;
}
#modalFilterFacet:after {
  left: auto;
  right: 10px;
}
#modalFilterFacet h5 {
  color: #787476;
  border-bottom: 1px solid #6C6C6C;
  padding-bottom: 5px;
  margin: 10px;
}
#modalFilterFacet #list-facet ul {
  list-style: none;
  padding-left: 0px;
  margin-right: 20px;
  margin-left: 20px;
}
#modalFilterFacet #list-facet ul li {
  height: 30px;
  padding-top: 4px;
  border-bottom: 1px solid #c3c3c3;
}
#modalFilterFacet #list-facet ul li:hover {
  border-color: #000000;
  cursor: pointer;
}
#modalFilterFacet #list-facet ul li a {
  color: #000;
}
#modalFilterFacet #list-facet ul li .badge {
  background-color: #aa4400;
  float: right;
  position: relative;
}
.footer {
  display: none;
}
.panel .panel-body {
  min-height: 400px;
}
.table th {
  border-bottom: 1px solid #111;
}
.table th .sortable {
  background-color: none !important;
}
.cg-busy {
  top: 70px !important;
}
.loading {
  height: 100%;
  width: 100%;
}
.loading .loading-spinner {
  position: absolute;
  right: 50%;
  top: 50%;
}
.page-inner {
  /** Quiet padding because dont exist footer */
  padding-bottom: 0px !important;
}
.page-content {
  margin-bottom: 0px;
}
