/* LESS PARA LISTA DE AVISOS */
@import 'base.less';

@map-width: 100%;
@map-heigth: 100%;

//@color-location: #065378;
@color-filter: #507dba;

@color-input-custom-addon: @color-location;


#map-container{
	position: fixed;
	top: 50px;
	left: 0px;
	width: @map-width;
    height: @map-heigth;

	#mapa, .angular-google-map, .angular-google-map-container{
		width: @map-width;
		height: @map-heigth;
	}

}


#data-filter-map{
	position: fixed;
	margin-top: 10px;

	#data-position-form{
		.mixin-shadow-bottom(1px, 1px, 2px, .5px, #626060);
		background-color: rgba(255,255,255,0.8);
		padding-left: 0px;
		padding-right: 0px;
		float: left;


        .input-group-custom-addon.icon-addon.addon-sm{
            color: @color-location;
            .glyphicon {
                border-color: @color-location;
            }
        }

		input[type="text"]{
            border: none;
			border-bottom: 1px solid @input-border;
		}
        /*
        input[type='range'] {
            -webkit-appearance: none;
            border-radius: 2px;
            background-color: #cccccc;
            height: 6px;
            vertical-align: middle;
        }
        input[type='range']::-moz-range-track {
            -moz-appearance: none;
            border-radius: 2px;
            background-color: #cccccc;
            height: 6px;
        }

        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            border-radius: 20px;
            background-color: @color-location;

            border: 1px solid #bab5ba;
            height: 20px;
            width: 20px;
        }
        input[type='range']::-moz-range-thumb {
            -moz-appearance: none;
            border-radius: 20px;
            background-color: @color-location;

            border: 1px solid #bab5ba;
            height: 20px;
            width: 20px;
        }*/

        .range{
            margin-top: 10px;
        }

        #range{
            border: none;
        }
        .form-inline{
            margin-right : 5px;
            #range{
              font-weight: bold;
              color: @color-location;
              padding: 6px 4px;
            }

            .label-dist{
              font-size: .8em;
              vertical-align: bottom;
            }
        }

        .btn-data-position{
            border-radius: 50%;
        }
	}



	#btn-my-locations{
		margin-left: 10px;
        background-color: @color-location;
      .mixin-shadow-bottom(1px, 1px, 2px, 1px, #434343);
	}

    #btn-save-location {
        margin-left: 10px;
        .mixin-shadow-bottom(1px, 1px, 2px, 1px, #434343);
    }

    #btn-filter-facet{
		float: right;
        background-color: #577aba;
        width: 120px;
        margin-bottom: 10px;
        font-size: 1.1em;
        .mixin-shadow-bottom(1px, 1px, 2px, 1px, #434343);
	}

    #list-filters-active{
        float: right;
        clear: right;
        list-style: none;
        .active-filter{
            .mixin-shadow-bottom(1px, 1px, 2px, 1px, #434343);
            background-color: #577aba;
            margin-top: 10px;
            color: white;
            font-size: .9em;
            height: 20px;

            span{
              margin: 5px 5px;
            }
        }
    }

}



#container-ad-list{
	float: right;
	.mixin-shadow-bottom(-1px, 0px, 1px, 1px, #ccc);
	background-color:rgba(255,255,255,0.8);
	padding: 0px;
    border-left: .1px solid @input-border;

	#header-list{
		background-color: #C5C5C5;
		margin-bottom: 20px;
		height: 45px;
		padding: 5px 0px;


		p{
			float: left;
			vertical-align: bottom;
            margin-left: 15px;
            padding: 0px;
            bottom: 0px;
            position: absolute;
        }

        .order-by-container{
            float: right;
            margin-right: 15px;
        }

	}


	.item-ads-list{
		.mixin-shadow-bottom(0.5px, 0.5px, 0px, 0.5px, #ccc);
		background-color: white;
		margin-bottom: 10px;
		padding: 10px;
		height: 130px;

        .container-img{
			padding: 0px;
		}

        .container-text{
            padding: 0px;

            h4{
                font-size: 1.3em;
                font-weight: 600;
                margin: 0px;
                padding: 0px;
                max-height: 35px;
            }

            small{
                font-size: .8em;
                color: #8C8C8C;
            }

            p{
                font-size: .9em;
            }
        }

		.locate-it {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		.price-ads-list {
			font-size: 1.3em;
			color: #aa0000;
			padding-bottom: 10px;
			font-weight: 500;
			position: absolute;
			right: 20px;
			bottom: 0px;
		}
	}

	.ads-list-item-hover {
		.mixin-shadow-bottom(1px, 1px, 3px, 4px, #1e617d);
	}
}


#modalNewLocation .modal-dialog, #modalSelectLocation .modal-dialog, #modalFilterFacet .modal-dialog{
    margin-bottom: 0px;

    .modal-content{
        margin-right: 34%;
        margin-top: 100px;
    }
}


#modalSelectLocation .modal-content .modal-body{
      ul{
          list-style: none;
          margin-top: 20px;
      }
}


#modalFilterFacet .modal-content .modal-body{
    padding-bottom: 0px;
    h5{
        color: #787476;
        border-bottom: 1px solid #6C6C6C;
        margin-top: 20px;
        padding-bottom: 5px;
    }

    ul{
        li{
            height: 30px;
            padding-top: 4px;
            border-bottom: 1px solid #c3c3c3;
            a{
              color: #000;
            }
            .badge{
                background-color: #aa4400;
                float: right;
                position: relative;
            }
        }
    }
}

.footer{
	display: none;
}


