@import 'base.less';


.cant-column-3{
  width: 30% !important;
  margin-left: 2% !important;
  margin-right: 0px !important;
}
.cant-column-2{
  width: 40% !important;
  margin-left: 6% !important;
  margin-right: 0px !important;
}
.cant-column-1{
  width: 70% !important;
  margin-left: 15% !important;
  margin-right: 0px !important;

}

.cant-column-4 .cd-item-wrapper{
  min-height: 126px;
}

.cant-column-3 .cd-item-wrapper{
  min-height: 171px;
}

.cant-column-2 .cd-item-wrapper{
  min-height: 230px;
}

#logoshop{
  position: absolute;
  top: 45px;
  right: 100px;
  bottom: auto;
  max-width: 150px;
  max-height: 150px;
}



.cd-dots{
  position: absolute;
  margin-left: 48%;
}

.cd-price{
  color: @color-price !important;
}