{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Reiniciar contraseña" %}{% endblock %}

{% block body_block %}
    <div class="container">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}Le hemos enviado un e -mail. póngase en contacto con nosotros si usted no lo recibe en pocos minutos.{% endblocktrans %}</p>
    </div>

{% endblock %}
