{% extends 'layout/base.html' %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/base.css" >
{% endblock %}
{% block body_block %}

    <div class="container-fluid" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}