#body-dashboard{
    margin-top: 80px;

}

#dashboard-menu{
    position: fixed;
}

.angular-google-map-container{
    height: 400px;
    width: 100%;
}

.odd{
    background: #efefef;
}

.even{

    background: #ffffff;
}