{% extends "layout/base.html" %}
{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/base.css" >
{% endblock %}
{% block title %}Preguntas frecuentes {% endblock %}
{% block body_block %}

    <div class="page-breadcrumb">
        <ol class="breadcrumb container">
            {% block breadcrumb %}
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'faq:faq_index' %}">Preguntas frecuentes</a></li>
            {% endblock %}
        </ol>
    </div>
    <div class="page-title">
        <div class="container">
            <h3>{% block topic_title %}Preguntas frecuentes{% endblock %}</h3>
        </div>
    </div>
    <div id="main-wrapper" class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <h2 class="no-m m-b-lg">¿Como podemos ayudarte?</h2>
                        <form class="m-b-sm" action="/faq/search/">
                            <div class="form-group no-s">
                                <div class="input-group input-group-lg">
                                    <input type="search" class="form-control" value="{{ query }}" name="q" placeholder="Introduzca los términos de búsqueda aquí...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <a href="/faq/submit/" class="btn btn-success m-b-xs">Hacer nueva pregunta</a>
{#                        <a href="contact.html" class="btn btn-success m-b-xs">Contactanos</a>#}

                        {% block container_list %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/faq/questions/" class="faq-link">
                        <div class="panel panel-green">
                            <div class="panel-body">
                                <h2 class="no-m m-b-md">Todas las preguntas</h2>
                                <p>Lista todas las preguntas..</p>
                            </div>
                        </div>
                    </a>
                {% for topic in topics %}
                    <a href="{{ topic.get_absolute_url }}" class="faq-link">
                        <div class="panel panel-green">
                            <div class="panel-body">
                                <h2 class="no-m m-b-md">{{ topic.name }}</h2>
                                <p>{{ topic.description }}.</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->

    <div class="cd-overlay"></div>
{% endblock %}