{% extends "faq/base.html" %}

{% block title %}{{ block.super }}: Thanks{% endblock %}
{% block body_block %}
    <div class="page-breadcrumb">
        <ol class="breadcrumb container">
            <li><a href="index.html">Inicio</a></li>
            <li class="active">Preguntas frecuentes</li>
        </ol>
    </div>
    <div id="main-wrapper" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <h3>Gracias por ayudarnos a crecer!</h3>
                        <p>Con tu ayuda, otras personas se beneficiaran con la informacion.</p>
                        <a href="/faq/faq/" class="btn btn-success m-b-xs pull-right">Volver a preguntas frecuentes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
