{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/less/list-item.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tooltip-master/src/tooltip.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-plain.min.css' %}" />