{% load static %}

<script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>

<!-- angular resources -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-leaflet/dist/angular-leaflet-directive.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-tooltip-master/src/tooltip.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>

<!-- ###################### END IMPORT ###################### -->


<!-- ###################### DASHBOARD APP - MODULE UTILS ###################### -->
<script type="text/javascript" src="{% static 'angular-resources/modules/utils/util.module.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resources/modules/utils/directives/google-places.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resources/modules/utils/directives/ng-enter.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resources/modules/utils/directives/alert-notification.directive.js' %}"></script>

<!-- ###################### END DASHBOARD APP - MODULE UTILS ###################### -->



<!-- ###################### angular-resources APP - MODULE AD ###################### -->
<script type="text/javascript" src="{% static 'angular-resources/modules/item/item.module.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resources/modules/item/services/item.service.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resources/modules/item/controllers/item.controller.js' %}"></script>
<!-- ###################### END angular-resources APP - MODULE AD ###################### -->

<!-- ###################### angular-resources APP ###################### -->
<script type="text/javascript" src="{% static 'angular-resources/apps/app.search.js' %}"></script>
<!-- ###################### END angular-resources APP ###################### -->