<div class="jumbotron">
    <h3 class="text-center">My Location</h3>
    <hr/>

    <div class="col-md-6 col-lg-6" >
        <div class="row">
            <google-places location=location></google-places>
        </div>

        <ui-gmap-google-map class="col-md-12" center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-circle ng-repeat="location in locations track by location.id"
                            center="location.center"

                            stroke="location_options.stroke"
                            fill="location_options.fill"
                            radius="location.radius"
                            visible="location_options.visible"
                            geodesic="location_options.geodesic"
                            editable="location_options.editable"
                            draggable="location_options.draggable"
                            clickable="location_options.clickable">

                            </ui-gmap-circle>
        </ui-gmap-google-map>


        <div class="pull-right">
            <button class="btn btn-success" ng-click="addLocation()">
                <i class="glyphicon glyphicon-ok"></i>
                <span ng-if="flag_update">MODIFICAR</span>
                <span ng-if="flag_update == false">CREAR</span>
            </button>
            <button class="btn btn-danger" ng-click="cancelLocation()">
                <i class="glyphicon glyphicon-minus">CANCELAR</i>
            </button>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <button class="btn btn-success pull-right" ng-click="newLocation()">AGREGAR <i class="glyphicon glyphicon-plus"></i></button>
        <table class="table">
            <thead>
            <td>Nombre</td>
            <td>Dirección</td>
            <td>Radio</td>
            <td>Acciones</td>
            </thead>
            <tbody>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="loc in locations" ng-click="select(loc)">
                <td>{{ loc.title }}</td>
                <td>{{ loc.address }}</td>
                <td>{{ loc.radius }}</td>
                <td>
                    <div class="row">
                        <button type="button" class="btn btn-warning" ng-click="update(loc)">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteLocation(loc)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row"><hr/></div>



</div>


