/*
@panel-default-heading-bg:    #008080;
@panel-heading-padding:       0px 0px 0px 20px;

*/
/*
@brand-primary: #466178; // #337ab7
@brand-success: #2b7929;
@brand-info: #488dbd;
@brand-warning: #d89b47;
@brand-danger: #8d101d;
*/
html,
body {
  height: 100%;
}
html .modal-backdrop,
body .modal-backdrop {
  z-index: 1100;
}
html .modal-footer button,
body .modal-footer button {
  margin-left: 10px;
}
html .navbar,
body .navbar {
  -webkit-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  -moz-box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  box-shadow: 0.5px 0.5px 1px 0.3px #b2b2b2;
  z-index: 10 !important;
  background-color: #E5E5E5;
}
html .navbar .topmenu-outer,
body .navbar .topmenu-outer {
  background-color: #E5E5E5;
}
html .horizontal-bar,
body .horizontal-bar {
  z-index: 9;
}
html .input-group-custom-addon.icon-addon.addon-sm,
body .input-group-custom-addon.icon-addon.addon-sm {
  position: relative;
  color: #ce4f00;
}
html .input-group-custom-addon.icon-addon.addon-sm:after,
body .input-group-custom-addon.icon-addon.addon-sm:after {
  clear: both;
}
html .input-group-custom-addon.icon-addon.addon-sm .fa,
body .input-group-custom-addon.icon-addon.addon-sm .fa,
html .input-group-custom-addon.icon-addon.addon-sm .glyphicon,
body .input-group-custom-addon.icon-addon.addon-sm .glyphicon {
  position: absolute;
  height: 29px;
  top: 0px;
  width: 30px;
  padding: 0px;
  margin-top: 3px;
  border: none;
  border-left: 1px solid #ce4f00;
  font-size: 18px;
  margin-right: 0;
  right: 5px;
  background: none;
  z-index: 99;
}
html .input-group-custom-addon.icon-addon.addon-sm:focus,
body .input-group-custom-addon.icon-addon.addon-sm:focus {
  color: #000 !important;
}
html input[type='range'],
body input[type='range'] {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
  vertical-align: middle;
}
html input[type='range']::-moz-range-track,
body input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 2px;
  background-color: #cccccc;
  height: 6px;
}
html input[type='range']::-webkit-slider-thumb,
body input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #635a9a;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
html input[type='range']::-moz-range-thumb,
body input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #635a9a;
  border: 1px solid #bab5ba;
  height: 20px;
  width: 20px;
}
.search-form {
  z-index: 500 !important;
}
/**
____________________________________________________________________________________
i-check examples:
-----------------
  1 -
    <div class="checkbox">
      <label class="i-checks">
        <input checked="" value="" type="checkbox">
        <i></i>
        Label checked
      </label>
    </div>

  2 -
    <div class="radio">
      <label class="i-checks">
        <input name="test" value="value" type="radio">
        <i></i>
        Label radio
      </label>
    </div>

____________________________________________________________________________________
input-group-custom-addon examples:
-----------------
  1 -
    <div class="input-group-custom-addon icon-addon addon-sm">
        <input type="text" class="form-control">
        <button class="glyphicon"></button>
    </div>


*/
.logo-box {
  width: auto !important;
}
.logo-box #logo {
  height: 45px;
}
@media (max-width: 767px) {
  .logo-box #logo {
    display: none;
  }
}
#iso-logo {
  height: 45px;
}
@media (max-width: 767px) {
  #iso-logo {
    margin-left: 15px;
  }
}
.search-form {
  margin-top: 5px !important;
  height: 50px !important;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #e9e9e9;
}
@media (max-width: 767px) {
  .search-form {
    width: 70%;
    margin-left: 15%;
  }
}
.search-form .input-group {
  height: 50px;
}
.search-form .input-group input {
  color: #5f5f5f;
  border: 1px solid #c8c8c8;
  box-shadow: none;
  border-radius: 0;
  background: 0 0;
  line-height: 55px;
  font-size: 20px;
  /*padding-left: 20px !important;
      padding-bottom: 5px !important;*/
  padding: 0px 10px !important;
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.search-form .input-group .icon-search {
  padding: 0px !important;
  margin-right: 10px !important;
  margin-bottom: 2px !important;
}
.nav-user-dropdown-responsive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  right: 0;
}
@media (max-width: 767px) {
  .nav-user-dropdown-responsive {
    display: block;
  }
}
.nav-user-dropdown-responsive .a {
  display: inline-block !important;
  padding: 0px 18px !important;
  color: #5F5F5F;
  border: none;
  position: relative;
  line-height: 20px;
  float: right;
  font-size: 17px;
  text-decoration: none;
}
html {
  overflow: hidden;
}
.page-content,
.page-inner {
  height: 100%;
}
.container-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}
/*.page-content{
  margin-bottom: 40px;
}*/
.page-inner {
  padding-bottom: 0px !important;
}
.page-footer {
  position: relative !important;
}
.Tooltip {
  z-index: 2000;
  position: absolute;
}
.btn-favit-favorite {
  background-color: none !important;
  border: none;
}
.favit .fa-heart,
.favit .fa-heart-o,
.favit.fa-heart-o,
.favit.fa-heart {
  color: #7a6fbe;
}
.favit:hover {
  cursor: pointer !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: #018ba3;
  border-color: #018ba3;
}
.timeline-options a:hover {
  color: #018ba3;
}
.post-options a:hover {
  color: #018ba3;
}
.menu.accordion-menu > li > a:hover {
  color: #018ba3;
}
.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a,
.menu.accordion-menu > li.open > a {
  color: #018ba3;
}
.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
  color: #018ba3;
}
.navbar ul li.open > a {
  color: #018ba3;
}
body:not(.page-horizontal-bar).compact-menu .menu > li.active,
body:not(.page-horizontal-bar).compact-menu .menu > li.open {
  border-left: 3px solid #018ba3;
}
.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
  color: #018ba3;
}
.pace .pace-progress {
  background: #018ba3;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #018ba3, 0 0 5px #018ba3;
}
.pace .pace-activity {
  border-top-color: #018ba3;
  border-left-color: #018ba3;
  margin-top: 60px;
}
