<div id="container-ad-list-data">
    <h4 class="title-data">Mis avisos 
    <ul class="pull-right">
            <li class="pull-right" ><a ng-click="get_ads_page(next_page)" ng-disabled="!next_page" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-right"></i> </a></li>
            <li class="pull-right" ><a ng-click="get_ads_page(prev_page)" ng-disable="!prev_page" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i></a></li>
        </ul>
    </h4>
    
    <div class="content-data col-md-12">

        <table class="table table-bordred table-striped">
            <tbody id="tab-all-message">
            <tr id="ad-row-{{ ad.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="ad in ads">
                <td class="col-md-1">
                    <img id="media-object" class="img-rounded" ng-src="{{ ad.images[0].thumbnail_90x90 }}" width="90" height="90">
                </td>
                <td class="col-md-9">
                    <h4><strong>{{ ad.title }}</strong></h4>
                    <p>{{ ad.short_description }}</p>
                    <small><strong>Fecha de publicacion : </strong>{{ ad.pub_date }} || <strong>Price : </strong> $ {{ ad.price }}</small>
                </td>
                <td class="col-md-2">
                    <!-- update -->
                    <a href="/ad/update/{{ ad.slug }}" class="btn btn-sm btn-warning btn-actions" tooltip="Edita [ {{ ad.title }} ]"><span class="glyphicon glyphicon-edit"></span></a>
                    <!-- view detail -->
                    <a href="/ad/{{ ad.slug }}" class="btn btn-sm btn-success btn-actions" tooltip="Entra [ {{ ad.title }} ]" ><span class="glyphicon glyphicon-eye-open"></span></a>
                    <!-- delete -->
                    <a class="btn btn-sm btn-danger btn-actions" ng-really-message="Are you sure ?" ng-really-click="deleteAd(ad)" item="ad" tooltip="Elimina [ {{ ad.title }} ]"><span class="glyphicon glyphicon-remove"></span></a>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="container-footer col-md-12">
        <a href="/ad/create/" id="btn-add-ad" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-bullhorn"></span> Agrega tu aviso</a>-
    </div>
</div>
