<div id="container-ad-list-data" cg-busy="vm.promiseRequest">
    <h4 class="title-data">Mis avisos
      <!--  <ul class="pull-right">
            <li class="pull-right"><a ng-disabled="!next_page" ng-click="get_ads_page(next_page)" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-right"></i> </a></li>
            <li  class="pull-right"><a ng-disabled="!prev_page" ng-click="get_ads_page(prev_page)" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i> </a></li>
        </ul>-->
    </h4>

    <div class="content-data col-md-12" ng-show="vm.ads.length > 0">
        <input type="text" name="title"
               ng-model="filters.title" class="form-control">
        <table class="table table-bordred table-striped" ng-table="tableParams" >
            <tr id="ad-row-{{ ad.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="ad in $data">
                <td class="v-align-middle col-md-1"
                    data-title="'Image'">
                    <img id="media-object" class="img-rounded" ng-src="{{ ad.images[0].thumbnail_90x90 }}" width="90" height="90">
                </td>
                <td class="v-align-middle col-md-9"
                    data-title="'Ads'"
                    sortable="'title'" filter="{ 'title': 'text' }">
                    <h4><strong>{{ ad.title }}</strong></h4>
                    <p>{{ ad.short_description }}</p>
                    <small><strong>Fecha de publicacion : </strong>{{ ad.pub_date }} || <strong>Price : </strong> $ {{ ad.price }}</small>
                </td>
                <td class="v-align-middle col-md-2" data-title="'Actions'">
                    <!-- update -->
                    <a href="/ad/update/{{ ad.slug }}" class="btn btn-sm btn-warning btn-actions"><span class="glyphicon glyphicon-edit"></span></a>
                    <!-- view detail -->
                    <a href="/ad/{{ ad.slug }}" class="btn btn-sm btn-success btn-actions" ><span class="glyphicon glyphicon-eye-open"></span></a>
                    <!-- delete -->
                    <a class="btn btn-sm btn-danger btn-actions"
                       ng-really-message="Are you sure ?"
                       ng-really-click="deleteAd(ad)"
                       item="ad">
                        <span class="glyphicon glyphicon-remove"
                              tooltips
                            tooltip-title="Elimina el aviso {{ ad.title }}"
                            tooltip-side="top"
                            tooltip-size="small"></span>
                    </a>

                </td>
            </tr>
        </table>
    </div>
    <div class="content-data col-md-12" ng-show="vm.ads.length == 0">
        <p>No tienenes ningun aviso. Puedes empezar cargando tu primer aviso</p>
        <a href="/ad/create/" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-bullhorn"></span> Agrega tu aviso</a>-
    </div>
    <div class="container-footer col-md-12">
        <a href="/ad/create/" id="btn-add-ad" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-bullhorn"></span> Agrega tu aviso</a>-
    </div>
</div>
