<style>
.colourful {
    background:
        -webkit-linear-gradient(45deg, hsla(332, 18%, 55%, 1) 0%, hsla(332, 18%, 55%, 0) 70%),
        -webkit-linear-gradient(315deg, hsla(290, 22%, 50%, 1) 10%, hsla(290, 22%, 50%, 0) 80%),
        -webkit-linear-gradient(225deg, hsla(342, 27%, 50%, 1) 10%, hsla(342, 27%, 50%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(169, 0%, 100%, 1) 100%, hsla(169, 0%, 100%, 0) 70%);
    background:
        linear-gradient(45deg, hsla(332, 18%, 55%, 1) 0%, hsla(332, 18%, 55%, 0) 70%),
        linear-gradient(135deg, hsla(290, 22%, 50%, 1) 10%, hsla(290, 22%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(342, 27%, 50%, 1) 10%, hsla(342, 27%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(169, 0%, 100%, 1) 100%, hsla(169, 0%, 100%, 0) 70%);
}

section.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.droplet {
    width: 100%;
    margin: auto;
    text-align: left;
    position: relative;
}

section.droplet ul.statistics {
    list-style-type: none;
    overflow: hidden;
}
section.droplet ul.statistics li {
    float: left;
    overflow: hidden;
    margin: 10px 5px 10px 0;
    font-size: 11px;
    font-style: italic;
    padding: 1px;
    display: inline-block;
    border-radius: 2px;
}

section.droplet droplet {
    display: inline-block;
    z-index: 2;
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 300px;
    background-color: rgba(212, 212, 212, 0.100);
    border-left: 1px solid #b3b6bc;
    border-bottom: 1px solid #b3b6bc;
    border-right: 1px solid #b3b6bc;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    margin-top: -5px;
    padding-top: 5px;
    transition: box-shadow 0.35s;
}

section.droplet droplet div.loading {
    display: block;
    height: 295px;
    width: 670px;
    margin: 1px;
    margin-top: 6px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .35s;
}

section.droplet droplet div.loading.visible {
    opacity: 1;
}

section.droplet droplet.event-dragover {
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .25), inset 0 0 5px rgba(255, 255, 255, .25);
}

section.droplet droplet comment:after {
    content: "Drag Image...";
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    z-index: -1;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: #4e6c83;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 400px;
    text-align: center;
}

section.droplet droplet.event-dragover comment:after {
    content: "...And Drop!";
}

section.droplet droplet ul.files {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    list-style-type: none;
    transition: all .5s;
}

section.droplet.uploading droplet ul.files {
    opacity: .25;
    filter: blur(2px);
    -o-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    pointer-events: none;
}

section.droplet droplet ul.files li {
    width: 100px;
    height: 100px;
    padding: 1px;
    float: left;
    position: relative;
    margin: 5px;
}

section.droplet droplet ul.files li img.droplet-preview {
    max-width: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border: 1px solid white;
    display: block;
}

section.droplet droplet ul.files li div.delete {
    background-color: rgba(0, 0, 0, .25);
    width: 50px;
    height: 50px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    position: absolute;
    border-radius: 50%;
    z-index: 101;
    top: 25px;
    left: 25px;
    opacity: 0;
    transition: all .30s;
    transform: scale(0.5);
}

section.droplet droplet ul.files li:hover div.delete {
    opacity: 1;
    transform: scale(1);
}

section.droplet droplet ul.files li div.delete:hover {
    background-color: rgba(0, 0, 0, .45);
}

section.droplet droplet ul.files li div.size {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    bottom: 5px;
    right: 5px;
    pointer-events: none;
    font-size: 9px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    padding: 1px 4px;
}

section.droplet section.message {
    position: absolute;
    background-color: deepskyblue;
    z-index: 2001;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    transition: all .55s;
    padding: 0 12px 0 12px;
    top: -10px;
    cursor: pointer;
}

section.droplet section.message.visible {
    padding: 15px 12px 10px 12px;
    top: 0;
}

section.droplet section.message.success {
    background: linear-gradient(to bottom, rgba(112, 176, 224, 1) 0%, rgba(136, 191, 232, 1) 100%);
}

section.droplet section.message.error {
    background: linear-gradient(to bottom, #ce6784 0%, #cc768d 100%);

}

section.droplet section.toolbar {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
}

section.droplet section.toolbar .button {
    display: inline-block;
    background-color: transparent;
    float: left;
    overflow: hidden;
    width: 180px;
    height: 100%;
    border: 0;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .75);
    transition: all 0.25s;
}

section.droplet section.toolbar .button:hover {
    background-color: rgba(0, 0, 0, .1);
}

section.droplet section.toolbar div.add-files {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

section.droplet section.toolbar div.add-files input.droplet-multiple {
    position: absolute;
    top: -10px;
    font-size: 28px;
    left: -90px;
    z-index: 1001;
    opacity: 0.0001;
    cursor: pointer;
}

section.droplet section.toolbar div.add-files:hover input.add-files {
    background-color: rgba(0, 0, 0, .1);
}

section.droplet section.toolbar input.upload-files {
    transition: background-color 0.25s;
    outline: none;
    pointer-events: none;
    color: rgba(0, 0, 0, .15);
}

section.droplet section.toolbar input.upload-files.clickable {
    pointer-events: all;
    color: rgba(0, 0, 0, .75);
}

section.droplet section.toolbar comment.progress {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: right;
    overflow: hidden;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .35);
    font-size: 11px;
    padding: 0 8px;
    margin-right: -60px;
    opacity: 0;
    transition: all 0.55s;
}

section.droplet section.toolbar comment.progress.visible {
    margin-right: 0;
    opacity: 1;
}

section.droplet input.droplet-multiple {
    color: white;
    margin-top: 5px;
}

    .angular-google-map-container{
        min-height: 400px !important;
        width: 100%;
    }

</style>


<div class="page-breadcrumb">
    <ol class="breadcrumb container">
        <li><a href="#">Panel</a></li>
        <li><a ui-sref="my-ads">Mis avisos</a></li>
        <li class="active">Crear anuncio</li>
    </ol>
</div>
<div class="page-title">
    <div class="container">
        <h3>Crea tu aviso en 4 pasos</h3>
    </div>
</div>
<div id="main-wrapper" class="container">
<div class="row">
<div class="col-md-12">
<div class="panel panel-white">
<div class="panel-body">
<div class="col-xs-12" id="container-ad-create-data">
    <!-- TABS STEP -->
    <ul class="nav nav-pills nav-justified thumbnail setup-panel" ng-init="vm.step=1;">
        <li ng-class="{active: vm.step == 1 }">
            <a ng-click="vm.step = 1;">
                <h4 class="list-group-item-heading">Paso 1</h4>
                <p class="list-group-item-text">Descripcion general</p>
            </a>
        </li>
        <li ng-class="{active: vm.step == 2, disabled: vm.maxStep < 2 }" >
            <a ng-click="vm.step = 2;" >
                <h4 class="list-group-item-heading">Paso 2</h4>
                <p class="list-group-item-text">Imangenes</p>
            </a>
        </li>
        <li ng-class="{active: vm.step == 3, disabled: vm.maxStep < 3 }">
            <a ng-click="vm.step = 3;">
                <h4 class="list-group-item-heading">Paso 3</h4>
                <p class="list-group-item-text">Descripcion</p>
            </a>
        </li>
        <li ng-class="{active: vm.step == 4, disabled: vm.maxStep < 4 }">
            <a ng-click="vm.step = 4;">
                <h4 class="list-group-item-heading">Paso 4</h4>
                <p class="list-group-item-text">Selecciona la ubicacion</p>
            </a>
        </li>
    </ul>
</div>

<!-- STEP 1 -->
<div class="row setup-content" id="step-1" ng-show="vm.step == 1">
    <div class="col-xs-12">
        <form class="col-md-12 well" novalidate angular-validator angular-validator-submit="vm.nextStep()" name="formStep1" enctype="multipart/form-data">
            <!-- TITLE -->
            <div class="form-group">
                <label class="control-label" for="title">Titulo</label>
                <input type="text"
                       name="title"
                       class="form-control"
                       ng-model="vm.ad.title"
                       placeholder="Titulo. Ej: Celular Galaxy GIT"
                       ng-minlength="3"
                       required="required"
                       invalid-message="'Caracteres minimo: 3.'"
                       required-message="'El titulo del anuncio es requerido!'">
            </div>

            <!-- SHORT DESCRIPTION -->
            <div class="form-group">
                <label class="control-label" for="short_description">Descripcion corta</label>
                <input type="text"
                       class="form-control"
                       ng-model="vm.ad.short_description"
                       maxlength="100"
                       name="short_description"
                       placeholder="Escriba una descripcion corta."
                       required-message="'La descripcion corta es requerida'"
                       required="required">

                <!-- POPOVER SHORT DESCRIPTION HELP -->
                <script type="text/ng-template" id="popover">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip" style="max-width: 400px; padding: 10px;">
                        <img src="/static/image/help/short-description.png" class="img-thumbnail"  />
                        <p>La descripcion corta del anuncio te permite tener mas posibilidades de ser encontrado, y ademas
                            es la primer descripcion de tu anuncio que el usuario lee.</p>
                    </div>

                </script>
                <span class="help" >¿Porque es importante que el anuncio tenga una descripcion corta?.
                    <a ns-popover
                       ns-popover-template="popover"
                       ns-popover-trigger="click"
                       ns-popover-hide-on-outside-click="true"
                       ns-popover-hide-on-button-click="true"
                       ns-popover-template="menu"
                       ns-popover-theme="ns-popover-list-theme"
                       ns-popover-placement="top"
                       ns-popover-placement="bottom">Ayuda</a></span>
            </div>

            <!-- PRICE -->
            <div class="form-group">
                <label class="control-label" for="price-flag">Precio</label>

                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control"
                           ng-model="vm.ad.price"
                           name="price"
                           type="text"
                           ng-currency
                            >
                </div>
                <!-- POPOVER SHORT DESCRIPTION HELP -->
                <script type="text/ng-template" id="popover">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip" style="max-width: 400px; padding: 10px;">
                        <img src="/static/image/help/short-description.png" class="img-thumbnail"  />
                        <p>El precio del anuncio te permite tener mas posibilidades de ser encontrado a la hora que el
                            usuario filtra por precio.</p>
                    </div>

                </script>
                <span class="help" >¿Porque es importante que el anuncio tenga un precio?.
                    <a ns-popover
                       ns-popover-template="popover"
                       ns-popover-trigger="click"
                       ns-popover-hide-on-outside-click="true"
                       ns-popover-hide-on-button-click="true"
                       ns-popover-template="menu"
                       ns-popover-theme="ns-popover-list-theme"
                       ns-popover-placement="top"
                       ns-popover-placement="bottom">Ayuda</a></span>

                <input type="hidden"
                       name="price-flag"
                       ng-model="vm.ad.price"
                       placeholder="Price"
                       required="required"
                       title=""
                       required-message="'El precio es requerido'"/>

            </div>
            <!-- CATEGORIES SELECT -->
            <div class="form-group">
                <label class="control-label" for="categories">Elige las categorias a las que corresponde tu anuncio.</label>
                <ul class="categories" cg-busy="vm.promiseRequestCategories">
                    <li ng-repeat="category in vm.categories">
                        <input type="checkbox" ng-change="vm.selectCategory(category)" ng-model="category.selected"/> {{ category.name }}
                    </li>
                </ul>
                <input type="hidden"
                       name="categories"
                       ng-model="vm.categories_selected"
                       validator="vm.categories_selected.length > 0"
                       invalid-message="'Es requerido elegir al menos una categoria.'"/>
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right">Siguiente > </button>
        </form>
    </div>
</div>

<!-- STEP 2 -->
<div class="row setup-content" id="step-2" ng-show="vm.step == 2">
    <div class="col-xs-12">
        <form class="col-md-12 well" novalidate angular-validator angular-validator-submit="vm.nextStep()" name="formStep2" enctype="multipart/form-data">
            <div class="col-md-12">
                <p>¡Tu producto es el protagonista! No incluyas logos, banners, textos promocionales, bordes ni marcas de agua.</p>
                <script type="text/ng-template" id="helpimage">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip" style="max-width: 400px; padding: 10px;">
                        <img src="/static/image/help/first-image.png" class="img-thumbnail"  />
                        <p>La primera imagen es importante ya que es la primera imagen que se ve de tu anuncio.</p>
                    </div>
                </script>
                <span class="help" >¿Porque es importante la primera imagen?.
                    <a ns-popover
                       ns-popover-template="helpimage"
                       ns-popover-trigger="click"
                       ns-popover-hide-on-outside-click="true"
                       ns-popover-hide-on-button-click="true"
                       ns-popover-template="menu"
                       ns-popover-theme="ns-popover-list-theme"
                       ns-popover-placement="bottom"
                       ns-popover-placement="bottom">Ayuda</a></span>
                <input type="hidden"
                       name="images"
                       ng-model="vm.categories_selected"
                       validator="interface.getFiles(interface.FILE_TYPES.VALID).length > 0"
                       invalid-message="'Es requerido cargar al menos una imagen.'"/>
                <section class="droplet" ng-class="{ uploading: interface.isUploading() }">

                    <ul class="statistics" hidden="true">
                        <li><label>Valid:</label> {{interface.getFiles(interface.FILE_TYPES.VALID).length}}</li>
                        <li><label>Invalid:</label> {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}</li>
                        <li><label>Uploaded:</label> {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}</li>
                        <li><label>Deleted:</label> {{interface.getFiles(interface.FILE_TYPES.DELETED).length}}</li>
                        <li><label>Total:</label> {{interface.getFiles().length}}</li>
                    </ul>

                    <section class="toolbar">

                        <input type="button" class="button upload-files" value="Uploading..." ng-show="interface.isUploading()" />

                        <div class="add-files">
                            <input type="button" class="button add-files" value="Agregar Imagenes..." />
                            <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                        </div>

                        <comment class="progress" ng-class="{ visible: interface.isUploading() }">
                            Uploaded: {{interface.progress.percent}}%
                        </comment>

                    </section>

                    <droplet ng-model="interface">

                        <div class="loading" ng-class="{ visible: interface.isUploading() }">
                            <svg viewBox="0 0 400 400">
                                <path class="loading-path" ng-model="interface.progress.percent"
                                      d="M 0,1 L 398,1 L 398,234 L 1,234 L 0,1"
                                      stroke="#D3B2D1" stroke-width="1" fill-opacity="0"
                                      style="stroke-dasharray: 392px, 392px;stroke-dashoffset: 392px;"></path>
                            </svg>
                        </div>

                        <comment></comment>

                        <section class="message success" ng-class="{ visible: success }" ng-click="success = false">
                            Successfully uploaded {{uploadCount}} files.
                        </section>

                        <section class="message error" ng-class="{ visible: error }" ng-click="error = false">
                            Failed to upload any of the files.
                        </section>

                        <ul class="files">

                            <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                <droplet-preview ng-model="model"></droplet-preview>
                                <div class="delete" ng-click="model.deleteFile()">&times;</div>
                                <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                            </li>

                        </ul>

                    </droplet>

                </section>
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right">Siguiente > </button>
        </form>

    </div>i
</div>

<!-- STEP 3 -->
<div class="row setup-content" id="step-3" ng-show="vm.step == 3">
    <div class="col-xs-12">
        <form class="col-md-12 well" novalidate angular-validator angular-validator-submit="vm.nextStep()" name="formStep3" enctype="multipart/form-data">
            <script type="text/ng-template" id="helpbody">
                <div class="triangle"></div>
                <div class="ns-popover-tooltip" style="max-width: 400px; padding: 10px;">
                    <img src="/static/image/help/description.png" class="img-thumbnail"  />
                    <p>La descripcion del anuncio aparece en el detalle del mismo, es recomendable describir cada especificacion....</p>
                </div>
            </script>
            <p class="help" >¿Para que sirve la descripcion?.
                <a ns-popover
                   ns-popover-template="helpbody"
                   ns-popover-trigger="click"
                   ns-popover-hide-on-outside-click="true"
                   ns-popover-hide-on-button-click="true"
                   ns-popover-template="menu"
                   ns-popover-theme="ns-popover-list-theme"
                   ns-popover-placement="bottom"
                   ns-popover-placement="bottom">Ayuda</a></p>
            <div class="form-group" >
                <textarea ckeditor="vm.editorOptions"
                          ng-model="vm.ad.body"
                          class="form-control"
                          name="body"
                          placeholder="Descripcion"
                          ng-minlength="50"
                          required="required"
                          invalid-message="'La descripcion debe tener minimo 50 caracteres.'"
                          required-message="'La descripcion del anuncio es requerida!'"
                        >
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right">Siguiente > </button>
        </form>
    </div>
</div>

<!-- STEP 4 -->
<div class="row setup-content" id="step-4" ng-show="vm.step == 4">
    <div class="col-xs-12">
        <form class="col-md-12 well" novalidate angular-validator angular-validator-submit="vm.submit()" name="formStep4" enctype="multipart/form-data" ng-init="vm.custom_location = 'user_location';">
            <!-- COL LOCATION FORM -->
            <div class="col-md-6 col-sm-12" style="min-height: 400px; max-height: 480px;">
                <h3>Ingresa una ubicacion donde estara disponible este anuncio.</h3>

                <div class="form-group">
                    <input type="radio" ng-model="vm.custom_location" value="user_location"><label>Selecciona una de tus ubicaciones guardadas</label>
                </div>
                <div class="form-group col-md-12" >
                    <select name="location_select"
                            ng-model="vm.location_selected"
                            ng-change="vm.changeLocationSelected()"
                            class="form-control"
                            ng-disabled="vm.custom_location == 'custom'"
                            ng-required="vm.custom_location != 'custom'"
                            required-message="'Selecciona una ubicacion o ingresala manualmente.'"
                            data-ng-options="obj as obj.title for obj in vm.user_locations">
                    </select>
                </div>
                <div class="form-group">
                    <input type="radio" ng-model="vm.custom_location" value="custom"/> <label for="">Cargar una ubicacion personalizada</label>

                </div>
                <div class="form-group col-md-12">
                    <label class="control-label" for="location_title">Nombre de la nueva ubicacion</label>
                    <input class="form-control"
                           maxlength="100"
                           ng-disabled="vm.custom_location == 'user_location'"
                           ng-model="vm.location.title"
                           ng-required="vm.custom_location == 'custom'"
                           name="location_title"
                           placeholder="Nombre de la ubicacion. Ej: Mi trabajo."
                           required-message="'Si carga una ubicacion personalizada el titulo es requerido.'"
                           title=""
                           type="text">
                </div>
                <div class="form-group col-md-12">
                    <input type="checkbox" ng-model="vm.save_location" ng-disabled="vm.custom_location == 'user_location'"/> <span>¿Guardar esta ubicacion como una de mis ubicaciones?</span>
                </div>
                <div class="col-md-12" >
                    <hr/>
                    <h5>Informacion General :</h5>
                    <ul>
                        <li>
                            <b>Latitude </b> {{ vm.location.center.latitude }}
                        </li>
                        <li>
                            <b>Longitude </b> {{ vm.location.center.longitude }}
                        </li>
                    </ul>
                </div>

            </div>

            <!-- COL MAP -->
            <div class="col-md-5 col-sm-12 col-md-offset-1" style="height: 400px;">
                <div id="data-position-form" class="col-md-12">
                    <!-- Address -->
                    <div class="input-group col-md-12" ng-show="vm.custom_location == 'custom'">
                        <google-places location=location_places map=map></google-places>
                        <input type="hidden"
                               name="location"
                               ng-model="location_places"
                               validator="vm.location.center.latitude"
                               invalid-message="'Ingresa la direccion exacta, o selecciona una de las que ya tienes.'"/>
                    </div>
                </div>
                <ui-gmap-google-map id="location-map"  center="map.center" zoom="map.zoom" draggable="false" options="options">
                    <ui-gmap-marker idkey="1" coords="location.center" draggable="true"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg pull-right">Guardar <i class="glyphicon glyphicon-floppy-disk"></i></button>
            </div>
        </form>
    </div>
</div>


</div>
</div>
</div>
</div><!-- Row -->
</div><!-- Main Wrapper -->
<div class="page-footer">
    <div class="container">
        <p class="no-s">2015 &copy; Compraloahi by Context.</p>
    </div>
</div>

