{% extends 'layout/base.html' %}
{% load bootstrap3 thumbnail static permissions_group %}
{% block title %}Grupo {{ group.title }}{% endblock %}

{% block body_block %}
    {% if request.user|has_show_permissions:group %}
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tooltip-master/src/tooltip.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/froala-wysiwyg-editor/css/froala_editor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/froala-wysiwyg-editor/css/froala_style.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-plain.min.css' %}" />
    {% endif %}
    <style>
        .profile-cover {
            background: url(http://127.0.0.1:8000{{ group.image_header.url }});
            background-size: cover;
            width: 100%;
            height: 300px;
            position: relative;
        }

        .timeline-item-post iframe{
            max-width: 100%;
        }
        .timeline-item-post img{
            width: 100% !important;
        }
    </style>
    <div class="profile-cover">
        <div class="container">
            <div class="col-md-12 profile-info">
                {% if request.user|has_show_permissions:group %}
                    <div class="profile-info-value">
                        <h3>{{ group.members.all|length }}</h3>
                        <p>Usuarios</p>
                    </div>
                    <div class="profile-info-value">
                        <h3>{{ group.items.all|length }}</h3>
                        <p>Avisos</p>
                    </div>
                {% else %}
                    {% if not request.user|is_join_requested:group %}
                        <div class="profile-info-value">
                            <a class="btn btn-default" href="{% url 'group:join-group' group.pk %}?next_url={{ request.get_full_path }}">Unirme al grupo </a>
                        </div>
                    {% else %}
                        <div class="profile-info-value">
                            <a class="btn btn-default" href="#" disabled="true">Esperando aprobacion</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="main-wrapper" class="container" ng-controller="TimeLineCtrl as vm">
        <div class="row">
            <div class="col-md-3 user-profile">
                <div class="profile-image-container">
                    {% thumbnail group.image "220x220" crop="center" as im %}
                        <img  src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
                <h3 class="text-center">{{ group.name }}</h3>

                <hr>
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">Informacion del grupo</div>
                    </div>
                    <div class="panel-body">
                        <p>{{ group.short_description }}</p>
                    </div>
                </div>
                {% if request.user|is_owner_group:group %}
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <div class="panel-title">Invitar al grupo</div>
                        </div>
                        <div class="panel-body">
                            <input type="text" ng-model="vm.member_email" class="form-control" placeholder="Ingresa email..."/>
                            <button class="btn btn-success pull-right" ng-click="vm.inviteMember()">Invitar</button>
                        </div>
                    </div>

                    <div class="panel panel-white">
                        <div class="panel-heading">
                            Membresias pendientes
                        </div>
                        <div class="panel-body">
                            <ul style="list-style: none; padding:0;">
                                {% verbatim %}
                                <li ng-repeat="membership in vm.memberships_requests">
                                    <img ng-src="{{ membership.member.image }}" class="img-thumbnail" style="max-width: 50px;"> {{ membership.member.name }}
                                    <button class="btn btn-success btn-sm" ng-click="membership.status=2; vm.confirm_request(membership)"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-error btn-sm" ng-click="membership.status=3; vm.confirm_request(membership)"><i class="fa fa-times"></i></button>
                                </li>
                                {% endverbatim %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {#                {% comment %}<!--<div class="panel panel-white">#}
                {#                    <div class="panel-heading">#}
                {#                        <div class="panel-title">Members</div>#}
                {#                    </div>#}
                {#                    <div class="panel-body">#}
                {#                        <div class="team">#}
                {#                            {% for member in group.members.all %}#}
                {#                                <div class="team-member">#}
                {#                                    <div class="online on"></div>#}
                {#                                    {% thumbnail member.image "110x110" crop="center" as im %}#}
                {#                                        <img src="{{ im.url }}" alt="">#}
                {#                                    {% endthumbnail %}#}
                {#                                </div>#}
                {#                            {% endfor %}#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="panel panel-white">#}
                {#                    <div class="panel-heading">#}
                {#                        <div class="panel-title">Some Info</div>#}
                {#                    </div>#}
                {#                    <div class="panel-body">#}
                {#                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="panel panel-white">#}
                {#                    <div class="panel-heading">#}
                {#                        <div class="panel-title">Skills</div>#}
                {#                    </div>#}
                {#                    <div class="panel-body">#}
                {#                        <p>HTML5</p>#}
                {#                        <div class="progress progress-xs">#}
                {#                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <p>PHP</p>#}
                {#                        <div class="progress progress-xs">#}
                {#                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <p>Javascript</p>#}
                {#                        <div class="progress progress-xs">#}
                {#                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>-->{% endcomment %}#}
            </div>
            <div class="col-md-9 m-t-lg" >
                {% if request.user|has_show_permissions:group %}
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#tab21" role="tab" data-toggle="tab">Muro</a></li>
                            <li role="presentation"><a href="#tab22" role="tab" data-toggle="tab">Descripcion</a></li>
                            {% if request.user|is_owner_group:group %}
                                <li role="presentation"><a href="#tab23" role="tab" data-toggle="tab" ng-click="vm.toggleUser()">Usuarios</a></li>
                            {% endif %}
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="tab21">

                                {% if request.user|is_owner_group:group %}
                                    <div class="post" style="margin-bottom: 20px;">
                                        <textarea froala ng-model="vm.post.content"></textarea>
                                        <button ng-click="vm.submit()" class="btn btn-default pull-right"
                                                style="margin-top: -35px; margin-right: 5px; z-index: 5; position: relative;">Post</button>
                                    </div>
                                {% endif %}

                                {% verbatim %}
                                <div class="profile-timeline">
                                    <ul class="list-unstyled" ng-show="vm.posts.length">
                                        <li class="timeline-item" ng-repeat="post in vm.posts">
                                            <div class="panel panel-white">
                                                <div class="panel-body">
                                                    <div class="timeline-item-header">
                                                        <img ng-src="{{ post.user.image }}" alt="">
                                                        <p>{{ post.user.username }} <span>Posted a Status</span></p>
                                                        <small>{{ post.created | date:'yyyy-MM-dd HH:mm' }}</small>
                                                    </div>
                                                    <div class="timeline-item-post">
                                                        <p ng-bind-html="vm.safeHtml(post.content)"></p>
                                                        <!--<div class="timeline-options">
                                                            <a href="#"><i class="icon-like"></i> Like (3)</a>
                                                            <a href="#"><i class="icon-bubble"></i> Comment (0)</a>
                                                            <a href="#"><i class="icon-share"></i> Share (2)</a>
                                                        </div>
                                                        <textarea class="form-control" placeholder="Write a comment..."></textarea>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <p ng-show="!vm.posts.length">Todavia no existen post en este grupo</p>
                                </div>
                                {% endverbatim %}

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab22">
                                {{ group.description|safe }}
                            </div>
                            {% if request.user|is_owner_group:group %}
                                {% verbatim %}
                                <div role="tabpanel" class="tab-pane fade" id="tab23">
                                    <div class="row" ng-if="vm.memberships.length">
                                        <div class="col-md-4 panel" ng-repeat="membership in vm.memberships">
                                            <img ng-src="{{ membership.member.image }}" alt="">
                                            {{ membership.member.name }}
                                            <button class="btn btn-danger pull-right"
                                                    ng-really-message="Estas seguro que deseas quitar del grupo a {{ member.email }} ?"
                                                    ng-really-click="vm.remove_member(membership)"
                                                    item="member">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p ng-if="!vm.memberships.length">Aun no tienes miebros en el grupo</p>
                                </div>
                                {% endverbatim %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <script>
        var group = {{ group.id }};

        {% if request.user|is_owner_group:group %}
            var has_permission = true;
        {% else %}
            var has_permission = false;
        {% endif %}
    </script>
    <!-- ###################### IMPORT THIRD LIB ###################### -->
    {% if request.user|has_show_permissions:group %}
        <script type="text/javascript" src="{% static 'bower_components/froala-wysiwyg-editor/js/froala_editor.min.js' %}"></script>

        <!--<script type="text/javascript" src="{% static 'bower_components/froala-wysiwyg-editor/js/plugins/file.min.js' %}"></script>-->
        <script type="text/javascript" src="{% static 'bower_components/froala-wysiwyg-editor/js/plugins/image.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/froala-wysiwyg-editor/js/plugins/video.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/froala-wysiwyg-editor/js/plugins/link.min.js' %}"></script>


        <!-- angular resources -->
        <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'bower_components/angular-froala/src/angular-froala.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/angular-froala/src/froala-sanitize.js' %}"></script>

        <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>

        <!-- ###################### END IMPORT ###################### -->


        <!-- ###################### MODULE UTILS ###################### -->
        <script type="text/javascript" src="{% static 'angular-resources/modules/utils/util.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resources/modules/utils/directives/alert-notification.directive.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resources/modules/utils/directives/really-click.directive.js' %}"></script>
        <!-- ###################### MODULE UTILS ###################### -->

        <!-- ###################### angular-resources APP - MODULE AD ###################### -->
        <script type="text/javascript" src="{% static 'angular-resources/modules/group/group.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resources/modules/group/services/group.service.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resources/modules/group/services/post.service.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resources/modules/group/controllers/timeline.controller.js' %}"></script>
        <!-- ###################### END angular-resources APP - MODULE AD ###################### -->

        <!-- ###################### angular-resources APP ###################### -->
        <script type="text/javascript" src="{% static 'angular-resources/apps/app.group.js' %}"></script>
        <!-- ###################### END angular-resources APP ###################### -->
    {% endif %}

{% endblock %}