{% extends 'layout/base.html' %}
{% load bootstrap3 thumbnail static %}
{% block title %}
    {% if suscription %}
        Invitacion al grupo {{ suscription.group.title }}
    {% else %}
        Invitacion invalida
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="col-md-8 col-md-offset-2" style="margin-top: 50px; margin-bottom: 50px;">
        {% if suscription %}
            <form id="invitation-form" method="post" action="" role="form">
                {% csrf_token %}
                <div style="display: none;">
                    {{ form.as_p }}
                </div>
                <h1 class="text-center">Te han invitado a formar parte del grupo {{ suscription.group.title }}</h1>
                <p class="text-center">¿Deseas unirte?</p>
                <button class="btn btn-danger" id="btn-cancel" type="button">Cancelar</button>
                <button class="btn btn-success" id="btn-accept" type="button">Aceptar</button>
            </form>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>Invitacion invalida</h4>
                <p>La invitacion a la que intentas acceder no es valida.</p>
                <p>
                    Los motivos pueden ser:
                </p>
                <ul>
                    <li>Ya fue rechazada o aceptada anteriormente.</li>
                    <li>No tienes configurado el email en tu perfil.</li>
                </ul>
                <p style="height: 50px;">
                    <a href="/" type="button" class="btn pull-right btn-default">Ir a la pagina principal</a>
                </p>
            </div>
        {% endif %}
    </div>

    <script>
        $('#btn-cancel').click(function(){
            $('#id_status_1').prop('checked', true);

            window.setTimeout($("#invitation-form").submit(), 3000);

        });

        $('#btn-accept').click(function(){
            $('#id_status_0').prop('checked', true);

            window.setTimeout($("#invitation-form").submit(), 3000);
        });
    </script>
{% endblock body_block %}