<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Contactar al anunciante</h4>
        </div>

        <div class="modal-body">
            <!--<div class="form-group">
                <label class="form-label" for="subject">Subject:</label>
                <input type="text" class="form-control" id="id_subject"/>
            </div>-->
            <div class="form-group">
                <!--<label class="form-label" for="id_body">Body:</label>-->
                <textarea name="" class="form-control" id="id_body" cols="30" rows="8" placeholder="Dejale tu consulta al anunciante..."></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submitMessage">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
        </div>
        <script type="text/javascript">



        </script>
    </div>
    <!-- /.modal-content -->
</div>


<script>
    $('#submitMessage').click(function(){
    //var subject = $('#id_subject').val();
    var body = $('#id_body').val();
    var subject = body.slice(1, 25) + "...";
    var item_id = item.id;

    $.ajax({
            url: "/api/v1/msgs/",
            type: 'POST',
            beforeSend: function(xhr, settings){
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            data: {
                body: body, subject: subject, object_id: item_id, content_type: 27
            },
            success: function(response) {

                $('#modalMessage').modal('hide');
                $('#container-item-detail-page').prepend(alert('Se ha enviado el mensaje con exito.', 'success'));
            },
            error: function(data){
                        $('#modalMessage').modal('hide');
                        $("#container-item-detail-page").prepend(alert("Error al intentar contactarse con el anunciante, vuelva a intentarlo mas tarde.", 'danger'));
                    }

        });

{#    $.post("/api/v1/msgs/", {body: body, subject: subject, object_id: item_id, content_type: 27},#}
{#    function(data) {#}
{#        var content_modal = '<div class="modal-dialog">' +#}
{#            '<div class="modal-content">' +#}
{#            '<div class="modal-header">' +#}
{#            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +#}
{#            '<h4 class="modal-title">Contactar al anunciante</h4>' +#}
{#            '</div>' +#}
{#            '<div class="modal-body">' +#}
{#            '<p> El mensaje fue enviado con exito</p>' +#}
{#            '</div></div></div>';#}
{#        $('#modalMessage').html(content_modal);#}
{#    }#}
{#    ).done(function(){#}
{#        //$('#modalMessage').class = 'modal';#}
{#    });#}

});
</script>