<!-- ############## PROFILE ############### -->
<div class="jumbotron">
    <h2 class="text-center">Edit profile</h2>
    <hr/>
    <form class="panel-body body-content" ng-submit="vm.submit()" >
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
                <img class="img-circle img-responsive" src="{{ vm.profile.thumbnail_200x200 }}" height="200" width="200" >
                <input type='file' file-model='img_profile' accept="image/*">
            </div>
            <div class=" col-md-9 col-lg-9 ">

                <div class="form-inline">
                    <h3>
                        <input class="form-control col-md-6" ng-model="vm.profile.user.first_name" type="text" required="true"/>
                        <input class="form-control col-md-6" ng-model="vm.profile.user.last_name" type="text" required="true"/>    
                    </h3>
                </div>


                <table class="table table-user-information">
                    <tbody>

                        <tr>
                            <td>Date of Birth</td>
                            <td> 
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
                                <input type="text" datepicker-popup="yyyy-MM-dd"
                                class="form-control"
                                ng-required="true"
                                ng-model="vm.profile.birth_date"
                                close-text="Close"
                                is-open="vm.opened" />
                                <span class="input-group-addon">
                                  <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                          </div>
                      </td>
                  </tr>

                  <tr>
                    <td>Email</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <input type="email" ng-model="vm.profile.user.email" class="form-control" ng-required="true" width="100%">
                        </div>
                    </td>
                </tr>
                <td>Contact Number</td>
                <td>
                    <ul>
                        <li ng-repeat="phone in vm.profile.phones">
                            <div class="form-inline">
                                <select ng-model="phone.type" class="form-control">
                                    <option></option>
                                    <option id="TEL">Telefono</option>
                                    <option id="CEL">Celular</option>
                                    <option id="FAX">Fax</option>
                                </select>
                                <input class="form-control" type="number" ng-model="phone.number"></input>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</div>

<div class="btn-group pull-right pull-bottom">
    <a class="btn btn-warning" ui-sref="profile-detail">CANCEL</a>
    <button type="submit" class="btn btn-success">OK</button>
</div>
</form>
<div class="row"><hr/></div>
</div>
<!-- ############## END PROFILE ############### -->
