<div class="panel panel-white">
    <div class="panel-body" cg-busy="vm.promiseRequest">
        <div class="content-data col-md-12" >
            <a ui-sref="group-create" class="btn btn-success pull-right"><span class="fa fa-plus"></span> Crear Grupo</a>
            <div id="grid-gallery" class="grid-gallery" ng-show="vm.groups.length > 0">
                <section class="grid-wrap">
                    <ul class="grid" style="display: table;">
                        <li  style="display: inline-flex;" id="group-li-{{ group.id }}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="group in vm.groups">
                            <a ui-sref="group-update({id:{{ group.id }}})" style="text-decoration: none; color: inherit;">
                                <figure style="display: inline-block">

                                    <img ng-src="{{ group.thumbnail_250x160 }}" />
                                    <figcaption style="position: relative;">
                                        <i class="fa fa-user fa-2x"
                                           tooltip="'Eres el propietario del grupo'"
                                           placement="top"
                                            style="color: #6A5FAC; position: absolute; top: 5px; right: 5px; z-index: 100;"></i>
                                        <h3>{{ group.name }}</h3>
                                        <p>{{ group.description }}</p>

                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="content-data col-md-12" ng-show="vm.groups.length == 0 && vm.request">
                <p>No tienenes ningun grupo.</p>
            </div>
        </div>


    </div>
</div>
