<div id="item-list" class="">
    <!-- LIST -->
    <ul id="items-list" class="media-list">
        <li class="container-fluid media list-group-item" ng-repeat="item in items"
                ng-mouseenter="selectItem(item)"  ng-mouseleave="deselectItem(item)"
                ng-class="{'list-group-item-hover': item.selected == true}"
                >
            <a id="item-anchor-{{ item.pk }}"></a> <!-- This tag is used for animation, It could be replaced -->
            <div class="pull-left col-md-2 col-lg-1">
                <img  class="prod-img-thumbnail img-responsive img-thumbnail img-rounded media-object" src="{{ item.image }}" alt="post img" >
            </div>
            <div class="media-body col-md-8 col-lg-9" ng-show="!collapsabled">
                <a href="/item/{{ item.slug }}"><h4 class="media-heading">{{ item.title }}</h4></a>
                <small> publish: {{ item.pub_date }} </small>
                <p> {{ item.short_description }} </p>
            </div>
            <div class="col-lg-2">
                <div class="list-action price">
                    <div>${{ item.price }}<sup>99</sup></div>
                </div>
                <div>
                    <a class="set-favourite btn btn-default btn-sm pull-right" ng-click="AddToFavourites(item)"><span class="glyphicon glyphicon-heart-empty"></span></a>
                    <a class="locate-it btn btn-default btn-sm pull-right" ng-click="callControl()" ><span class="glyphicon glyphicon-map-marker"></span></a>
                </div>
            </div>
        </li>
    </ul>
</div>

