{% load jsonify %}

<script>
    angular
            .module('authentication', [])
            .factory('Authentication', Authentication);

    Authentication.$inject = [];

    function Authentication(){
        // Print user data with django
        var user = {{ user_data|jsonify }};

        var _unread_msg = user.msg_unread;

        var Authentication = {
            setProfile: setProfile,
            profile: user.profile,
            has_items: user.has_items,
            notification_unread: user.notification_unread,
            msg_unread: get_msgs_unread,
            unauthenticate: unauthenticate,
            set_msg_read: set_read_msgs,
            has_address: user.has_address,
            get_user_id: getUserId
        };

        function getProfile(){
            return user.profile;
        }

        function getUserId(){
            return user.id;
        }

        function setProfile(profile){
            user.profile = profile;
        }

        function unauthenticate(){
            delete user;
        }

        function set_read_msgs(arra_msg_unread){
            if(arra_msg_unread && arra_msg_unread.length > 0){
                for(var i =0; i < arra_msg_unread.length; i++){
                    _unread_msg = _unread_msg -1;
                    angular.element('#msg-unread-' + String(arra_msg_unread[i]['id'])).remove()
                }
            }
        }

        function get_msgs_unread(){
            return _unread_msg;
        }

        return Authentication
    }
</script>