{% extends 'layout/base.html' %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/base.css" >
{% endblock %}

{% block body_block %}
    <div class="col-md-4 center">
        <h1 class="text-xxl text-primary text-center">404</h1>
        <div class="details">
            <h3>Oops ! Algo salio mal</h3>
            <p>
                No hemos podido encontrar la página que estás buscando.
                {% if user.is_authenticated %}
                   Ir al <a href="/panel/">Panel</a> o buscar.
                {% else %}
                    Buscar.
                {% endif %}
            </p>
        </div>
        <form action="/ad/search/" method="GET">
            <div class="input-group">
                <input type="text" name="q" class="form-control search-input" placeholder="Encontra muy cerca lo que buscas...">
                            <span class="input-group-btn">
                                <button class="btn btn-default close-search" type="submit"><i class="fa fa-search"></i></button>
                            </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
    </div>
{% endblock %}
