{% extends 'layout/base.html' %}
{% block title %}Aviso {{ ad.title }}{% endblock %}


{% block js_header_block %}
{% endblock %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/base.css" >
{% endblock %}

{% block body_block %}
    <div class="col-md-4 center">
        <h1 class="text-xxl text-primary text-center">500</h1>
        <div class="details">
            <h3>Oops ! Something went wrong</h3>
            <p>
                We can't find the page you're looking for.
                {% if user.is_authenticated %}
                   Go your <a href="/panel/">Panel</a> or search.
                {% else %}
                    Search.
                {% endif %}
            </p>
        </div>
        <form action="/ad/search/" method="GET">
            <div class="input-group">
                <input type="text" name="q" class="form-control search-input" placeholder="Encontra muy cerca lo que buscas...">
                            <span class="input-group-btn">
                                <button class="btn btn-default close-search" type="submit"><i class="fa fa-search"></i></button>
                            </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
    </div>
{% endblock %}
