<!-- ############## PROFILE ############### -->
<div id="container-message-thread-data">
    <h3 class="title-data">Detalle de Mensaje</h3>

    <div class="content-data col-md-12">
        <div ng-repeat="msg in message" class="message">
            <h4>{{ msg.subject }}</h4>
            <p>{{ msg.body }}</p>
            <hr/>
        </div>
    </div>
    <div class="container-footer col-md-12">
        <textarea ng-model="msgReply.body" class="form-control"></textarea>
        <button class="btn btn-info pull-right" ng-click="reply()">RESPONDER</button>
    </div>
</div>
