<div id="container-message-data">
    <h4 class="title-data">Mensajes - ({{ folder }})</h4>

    <div class="content-data col-md-12">
        <ul class="nav nav-pills">
            <li class="btn">
               <label class="i-checks">
                    <input ng-model="messages_select" ng-click="select_all_messages()" type="checkbox">
                    <i></i>
                </label> 
            </li>    
            <li ng-disabled="messages_selected.length == 0" 
                ng-if="folder == 'inbox'" 
                rel="tooltip" title="Eliminar mensajes seleccionados" 
                class="btn btn-danger" 
                ng-really-message="Are you sure ?" 
                ng-really-click="delete_bulk()">
                <i class="glyphicon glyphicon-trash"></i>
            </li>
            <li ng-disabled="messages_selected.length == 0" 
                rel="tooltip" title="Marcar como leido mensajes seleccionados" 
                class="btn btn-info" 
                ng-click="set_read_bulk()">
                <i class="glyphicon glyphicon-ok"></i>
            </li>
            <div class="pull-right">
                <li class="pull-right"><a ng-disabled="!next_page" ng-click="get_msgs_page(next_page)" class="btn btn-default"> >> </a></li>
                <li  class="pull-right"><a ng-disabled="!prev_page" ng-click="get_msgs_page(prev_page)" class="btn btn-default"> << </a></li>
                
            </div>
        </ul>
        <div class="table-responsive">
            <table class="table">
                <!--<thead>
                <tr>
                    <th class="col-md-1">
                        <label class="i-checks">
                            <input ng-model="messages_select" ng-click="select_all_messages()" type="checkbox">
                            <i></i>
                        </label>
                    </th>
                    <th class="col-md-8">Subject</th>
                    <th class="col-md-3">sent_at</th>
                </tr>
                </thead>-->
                <tbody>
                <tr ng-repeat="message in messages" ng-class="{'active': message.read_at == None}">
                    <td class="col-md-1">
                            <label class="i-checks">
                                <input checked="" value="message.id" ng-model="message.selected" type="checkbox" ng-click="select_message(message)">
                                <i></i>
                            </label>
                    </td>
                    <td class="col-md-8"><a ui-sref="message-thread({id:{{ message.id }}})">{{ message.subject }}</a></td>
                    <td class="col-md-3">{{ message.sent_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="container-footer">
    </div>
</div>
