.prod-img-thumbnail {
    height: 100%;
    width: 100%;
}

.search-form {
    padding-bottom: 10px;
}

.list-group-item {
    padding: 10px;
}

.list-group-item-hover {
-webkit-box-shadow: 0 0 4px 2px rgb(238, 7, 63);
-moz-box-shadow: 0 0 4px 2px rgb(238, 7, 63);
box-shadow: 0 0 4px 2px rgb(238, 7, 63);
}

.list-action
{
    display: inline-block;
    width: 100%;
}

.price {
    font-size: 1.5em;
    color: red;
    padding-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}