{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Lista de avisos {% endblock %}
{% load thumbnail %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/list.css" >
{% endblock %}

{% block body_block %}
    <div id="head-list" style="position: fixed; background-color: #ffffff; z-index: 10; height: 100px;" class="col-md-12">

    </div>
    <div class="col-lg-12" id="content-ad-list" style="padding-top: 100px;">
    <div class="col-lg-5 sidebar" id="siderbar">
         <div class="">
        <div id="mapa" class="capas img-thumbnail"></div>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading text-center">Categorias</div>
            <ul class="list-group panel-body">
               <li class="list-group-item">Categoria 1<span class="badge">42</span></li>
               <li class="list-group-item">Categoria 2<span class="badge">5</span></li>
               <li class="list-group-item">Categoria 3<span class="badge">10</span></li>
               <li class="list-group-item">Categoria 4<span class="badge">23</span></li>
            </ul>
        </div>

    </div>
    <!-- LIST -->
    <div class="col-lg-7 content col-lg-offset-5">
        <div class="row " id="form-search">
            <div class="">
                <input id="tags" class="form-control" type="text" placeholder="Search"/>

                <div class="form-group" hidden="true" style="display: none;">
                    <label for="lat" class="col-sm-2 control-label">Lat:</label>
                    <div class="col-sm-10">
                        <input id="lat" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group" hidden="true" style="display: none;">
                    <label class="col-sm-2 control-label" for="lng">Lng:</label>
                    <div class="col-sm-10">
                        <input id="lng" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group" hidden="true" style="display: none;">
                    <label class="col-sm-2 control-label" for="radius">Radius:</label>
                    <div class="col-sm-10">
                        <input id="radius2" type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="" id="form-search-rad">
                    <div class="row col-md-10">
                        <div class="range range-success">
                             <input id="radius" type="range" name="radius" min="1" max="100000" value="50" onchange="range.value=value">
                            <output id="range">50</output>
                        </div>
                        <div class="help">Radius</div>
                    </div>

                    <!-- SUBMIT -->
                    <button id="search_btn" type="submit" class="col-md-2 btn btn-success pull-right">
                        <i class="glyphicon glyphicon-search"></i> Search
                    </button>



            </div>

        </div>

        <div id="result" class="row">
        <h1>All Ads list</h1>
        {% bootstrap_messages %}
        <ul id="list" class="media-list">
        </ul>
            </div>
    </div>
    <!-- END LIST -->
</div>
{% endblock %}

{% block js_footer_block %}
    <script src="{{ STATIC_URL }}js/ad-list.js"></script>
    <script>
        {% autoescape off %}
        var json_data = {{ json_data }};
        {% endautoescape %}
        render_ad_list(json_data);
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
    <script src="{{ STATIC_URL }}js/search-map.js"></script>
    <script>
        loadPositions(json_data);
    </script>
{% endblock %}