{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block title %}Aviso {% endblock %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/ad-detail.css" >
{% endblock %}

{% block body_block %}
    <h2 class="text-center">Tienda</h2>
    <div class="content">
        {% for ad in ads %}
            <div class="col-ms-10 col-md-3 pull-left">
                {% with ad.images.all|first as image %}
                    {% thumbnail image.image "400x400" crop="center" as im %}
                        <img  class="img-thumbnail" src="{{ im.url }}">
                    {% endthumbnail %}
                {% endwith %}
                <a href="{% url 'ad:detail' ad.slug %}"><h3 style="height: 50px;"> {{ ad.title }}</h3></a>
                <span class="pull-right"><strong>${{ ad.price }}</strong></span>
                <p style="height: 50px;">{{ ad.short_description }}</p>
            </div>

        {% endfor %}


        <div class="col-md-12">
            {% if is_paginated %}
                <ul class="pagination pull-right">
                    {% if page_obj.has_previous %}
                        <li class="enabled"><a href="{% url 'catalogs' param_url %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}
                    {% for num_page in paginator.page_range %}
                        {# Solo mostramos +5 y -5 en el paginator. Podemos cambiar si necesitamos mostrar más o menos páginas #}
                        {% if page_obj.number|add:'-5' <= num_page and page_obj.number|add:"5" >= num_page%}
                            {%if page_obj.number == num_page %}
                                <li class="active"><a href="#">{{ num_page }}<span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li><a href="{% url 'catalogs' param_url %}?page={{ num_page }}">{{ num_page }}<span class="sr-only">(current)</span></a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="{% url 'catalogs' param_url %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li><a href="#" class="disabled">&raquo;</a></li>
                    {% endif %}
                </ul><!--//pagination-->
            {% endif %}
        </div>



    </div>
{% endblock %}

