{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block title %}Aviso {% endblock %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/ad-detail.css" >
{% endblock %}

{% block body_block %}
    <h2 class="text-center">Tienda</h2>
    <div class="content">
        {% for ad in ads %}
            <div class="col-ms-10 col-md-3 pull-right">
                {% with ad.images.all|first as image %}
                    {% thumbnail image.image "400x400" crop="center" as im %}
                        <img  class="img-thumbnail" src="{{ im.url }}">
                    {% endthumbnail %}
                {% endwith %}
                <h3 style="height: 50px;"> {{ ad.title }}</h3>
                <span class="pull-right"><strong>${{ ad.price }}</strong></span>
                <p style="height: 50px;">{{ ad.short_description }}</p>
            </div>

        {% endfor %}
    </div>
{% endblock %}

