{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}Crear Aviso {% endblock %}

{% block css_header_block %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/less/ad-forms.css" >
{% endblock %}

{% block body_block %}
    <input id="search-places" class="controls" type="text" placeholder="Buscar Dirreción">
    <div class="container container-form-ad">
    {% bootstrap_messages %}
    <h2>Crear aviso</h2>
    <hr/>
    <form action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.tags %}
        {% bootstrap_field form.short_description %}
        {% bootstrap_field form.price %}
        {% bootstrap_field form.pub_date %}
        {% bootstrap_field form.categories %}
        {{ form.body }}

        {{ images_form.management_form }}
        {% for image_form in images_form %}
            {{ image_form.id }}
            <div class="inline {{ images_form.prefix }} form-inline">
                 {{ image_form }}
            </div>
        {% endfor %}
        <div id="locations">
            <h3>Locations</h3>

        {{ locations_form.management_form }}
        {% for location_form in locations_form %}
            {{ location_form.id }}
            <div class="inline {{ locations_form.prefix }} form-inline">
                {% bootstrap_field location_form.title %}
                {% bootstrap_field location_form.lat %}
                {% bootstrap_field location_form.lng %}
            </div>
        {% endfor %}
        </div>
        <!-- Locations Map -->
        <div id="mapa" class="capas"></div>
        <!-- End Locations Map -->


        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">
                {% bootstrap_icon "save" %} Create
            </button>
        {% endbuttons %}
    </form>
    </div>


{% endblock %}

{% block js_footer_block %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="{% static 'jquery-formset-12/jquery.formset.js' %}"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=TRUE"></script>
    <script src="{% static 'js/ad/forms.js' %}"></script>

    <script type="text/javascript">
            $(function() {
                $(".inline.{{ images_form.prefix }}").formset({
                    prefix: "{{ images_form.prefix }}"
                })

            })
    </script>
{% endblock %}