{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Crear Aviso {% endblock %}


{% block body_block %}

{% bootstrap_messages %}
    <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {{ images_form.management_form }}
        {% for image_form in images_form %}
            {{ image_form.id }}
            <div class="inline {{ images_form.prefix }} form-inline">
                 {{ image_form }}
            </div>
            
            
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save" %} Crear aviso
            </button>
        {% endbuttons %}
    </form>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}jquery-formset-12/jquery.formset.js"></script>
<script type="text/javascript">
        $(function() {
            $(".inline.{{ images_form.prefix }}").formset({
                prefix: "{{ images_form.prefix }}",
            })
         
        })

</script>
{% endblock %}