{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block title %}Editar Aviso{% endblock %}


{% block body_block %}

{% bootstrap_messages %}
    <h1>{{ object.title }}</h1>

    <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- Images FormSet -->
        {{ images_formset.management_form }}
        {% for image_form in images_formset %}
            {{ image_form.id }}
            <div class="inline {{ images_formset.prefix }} form-inline">
                 {{ image_form }}
            </div>
        {% endfor %}
        <!-- End Images FormSet -->

        <!-- Locations FormSet -->
        {{ locations_formset.management_form }}
        {% for location_form in locations_formset %}
            {{ location_form.id }}
            <div class="inline {{ locations_formset.prefix }} form-inline">
                 {{ location_form }}
            </div>
        {% endfor %}
        <!-- End Locations FormSet -->

        <!-- End Locations Map -->


        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save" %} Crear aviso
            </button>
        {% endbuttons %}
    </form>
        <!-- Locations Map -->
        <div id="mapa" class="capas"></div>
        <div id="datos" class="capas"></div>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}jquery-formset-12/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ images_formset.prefix }}").formset({
                prefix: "{{ images_formset.prefix }}",
            })
            $(".inline.{{ locations_formset.prefix }}").formset({
                prefix: "{{ locations_formset.prefix }}",
            })
            $(".inline.{{ locations_formset.prefix }}").click(function () {
                console.log("click");
            });

        })

    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
    <script src="{{ STATIC_URL }}scripts.js"></script>
{% endblock %}