{% load comments i18n %}
{% load common_tags %}
<div class="comment-form container">
	<div class="row">
      <div class="panel panel-default widget">
      <div class="panel-heading">
                <h2 class="panel-title">
                    Ingresa tu Pregunta al Anunciante</h2>

            </div>
        <div class="panel-body">
          <form class="form-horizontal" action="{% comment_form_target %}" method="post">{% csrf_token %}
          <fieldset>
            {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
            {% for field in form %}
                {% if field.is_hidden %}
                  <div>{{ field }}</div>
                {% else %}
                {% if field.errors %}{{ field.errors }}{% endif %}

                  <p
                    {% if field.errors %} class="error"{% endif %}
                    <!-- TODO: This is a bad way of hidding unnecesary fields -->
                    {% if field.name == "comment" %}
                        <div class="form-group">
                        <div class="col-md-12">
                            <!--
                            {{ field.label_tag }}
                            -->
                            {{field|addcss:"form-control"}}
                        </div>
                        </div>
                    {% endif %}
                  </p>
                {% endif %}
            {% endfor %}

            <!-- Message body -->
          <!--
            <div class="form-group">
              <div class="col-md-12">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
            -->

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <input type="submit" name="post" class="btn btn-primary btn-lg" value="{% trans "Post" %}" />
                <input type="submit" name="preview" class="btn btn-primary btn-lg" value="{% trans "Preview" %}" />
              </div>
            </div>
          </fieldset>

          </form>
        </div>
      </div>
	</div>
</div>

<!--
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "comment" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
  </p>
</form>
-->