{% load comments i18n %}
{% load common_tags %}


<form class="form-horizontal" id="frm-post-comment" action="{% comment_form_target %}" method="post">{% csrf_token %}
    <fieldset>
        {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                <div>{{ field }}</div>
            {% else %}
                {% if field.errors %}{{ field.errors }}{% endif %}

                <p {% if field.errors %} class="error"{% endif %}>
                    <!-- TODO: This is a bad way of hidding unnecesary fields -->
                    {% if field.name == "comment" %}
                        <div class="form-group">
                            <div class="col-md-12">
                                {{field|addcss:"form-control"}}
                            </div>
                        </div>
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}

        <!-- Message body -->
        <!--
          <div class="form-group">
            <div class="col-md-12">
              <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
            </div>
          </div>
          -->

        <!-- Form actions -->
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="button" id="btn-post-comment" name="post" class="btn btn-md" >Enviar</button>
            </div>
        </div>
    </fieldset>
</form>


<div class="modal" id="modalMsg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">AVISO :</h4>
            </div>
            <div class="modal-body" id="content">

            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Submit form ajax
    //Parameter Object to container search component
    function submit_comment_ajax(container_to_search){

        container_to_search.find('#btn-post-comment').click(function() {
            // Script Post Comment Ajax
            var obj = {};

            obj.reply_to = container_to_search.find("#frm-post-comment").find("#id_reply_to").val();

            obj.csrfmiddlewaretoken = container_to_search.find("#frm-post-comment").find("input[name='csrfmiddlewaretoken']").val();
            obj.content_type = container_to_search.find("#frm-post-comment").find("#id_content_type").val();
            obj.object_pk = container_to_search.find("#frm-post-comment").find("#id_object_pk").val();
            obj.timestamp = container_to_search.find("#frm-post-comment").find("#id_timestamp").val();
            obj.security_hash = container_to_search.find("#frm-post-comment").find("#id_security_hash").val();
            obj.comment = container_to_search.find("#frm-post-comment").find("#id_comment").val();

            obj.post = "Post";

            if(obj.comment != ""){

                $.ajax({
                    url: "/comments/post/",
                    type: 'POST',
                    beforeSend: function(xhr, settings){
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                    },
                    data: obj,
                    success: function(data) {
                        console.log("SUCCESS");
                        container_to_search.find("#frm-post-comment").find("#id_comment").val("");
                            //var msg = "<p>El comentario se creo correctamente, en breve sera publicado</p>";
                            //$("#form-comment-list").
                            //        $('#modalMsg').find("#content").html(msg);
                            //$('#modalMsg').modal('show');
                            $("#container-comment-list").append(alert("El comentario se creo correctamente, en breve sera publicado", 'success'));

                            if(container_to_search.attr("id") == 'modalReplyComment'){
                                container_to_search.modal('hide');
                            }
                    },
                    error: function(data){
                        $("#container-comment-list").append(alert("Error al publicar el comentario, vuelva a intentarlo mas tarde", 'danger'));
                    }
                });


            }else{
                var msg = "<p>You need complete comment body.</p>";
                $('#modalMsg').find("#content").html(msg);
                $('#modalMsg').modal('show');

            }
        });
    }
</script>