{% load i18n comments_xtd %}
{% load url from future %}
{% load common_tags %}



<div class="panel panel-default widget">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        Preguntas
        <sup class="label label-info">
            {{ comment_count }}</sup>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for comment in comment_list|slice0to:comments_limit %}
                <li class="list-group-item" >
                    <div class="row" style="margin-left:{{ comment.level }}00px;">
                        <div>
                            {{ comment.submit_date }}&nbsp;-&nbsp;
                            {% if comment.url %}<a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}{% if comment.allow_thread %}&nbsp;-&nbsp;
                                 {% if item.author == user and comment.user.id != user.id %}
                                    <!-- BUTTON REPLY -->
                                <button data-toggle="modal" class="btn btn-xs btn-success btn-reply-comment" data-target="#modalReplyComment" data-comment-id="{{ comment.id }}">
                                    Contestar
                                </button>
                                {% endif %}
                            {% endif %}

                        </div>
                        <div class="comment-text">
                            {{ comment.comment|render_markup_comment }}
                        </div>
                        <!--
                        <div class="action">
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        -->
                    </div>
                </li>
            {% endfor %}
    </ul>
        {% if comment_list|length > comments_limit %}
        <a id="more-comments-btn" class="btn btn-primary btn-sm btn-block" role="button"
               href="/item/{{ object.slug }}/?comments_limit={{ comments_limit|add:5 }}">
            <span class="glyphicon glyphicon-refresh"></span> More</a>
        {% endif %}
</div>
</div>





<!-- MODAL REPLY COMMENT -->
<div class="modal" id="modalReplyComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reply Comment</h4>
            </div>
            <div class="modal-body" id="content">

            </div>
        </div>
    </div>
</div>


<script>
    // Script Reply Comment Ajax

    // Add event to reply buttons
    $('.btn-reply-comment').click(function() {

        var comment_id_to_reply = $(this).data('comment-id');

        // Get form to reply
        $.get("/comments/reply/" + comment_id_to_reply,
                function(data){
                    //var span_id_comment = "<span hidden='True' data-comment-id='" + comment_id_to_reply + "' id='comment-id-reply'></span>";
                    var modal_container_reply = $("#modalReplyComment");
                    modal_container_reply.find("#content").html(data);
                    submit_comment_ajax(modal_container_reply);
                    //$("#modalReplyComment").find("#content").html(span_id_comment);
                });
    });
</script>


