{% load i18n comments_xtd %}
{% load url from future %}


<div class="comments-section container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h2 class="panel-title">
                    Recent Comments</h2>
                <sup class="label label-info">
                    {{ comment_count }}</sup>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for comment in comment_list %}
                    <li class="list-group-item" >
                        <div class="row" style="margin-left:{{ comment.level }}00px;">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    {{ comment.submit_date }}&nbsp;-&nbsp;{% if comment.url %}<a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}{% if comment.allow_thread %}&nbsp;-&nbsp;<a href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>{% endif %}
                                </div>
                                <div class="comment-text">
                                    {{ comment.comment|render_markup_comment }}
                                </div>
                                <!--
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                -->
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <a id="more-comments-btn" href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
            </div>
        </div>
    </div>
</div>
