{% load staticfiles %}

<!-- JQUERY -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>


<!-- Javascripts
<script src="/static/assets/plugins/jquery/jquery-2.1.3.min.js"></script>-->
<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/pace-master/pace.min.js"></script>
<script src="/static/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/switchery/switchery.min.js"></script>
<script src="/static/assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/static/assets/plugins/classie/classie.js"></script>
<script src="/static/assets/plugins/waves/waves.min.js"></script>
<script src="/static/assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="/static/assets/js/modern.min.js"></script>



<!-- CKEDITOR LIB -->
<script type="text/javascript" src="{% static 'bower_components/ng-ckeditor/libs/ckeditor/ckeditor.js' %}"></script>

<!-- angular resources -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bower_components/angular-google-maps/dist/angular-google-maps.min.js' %}"></script>
<!-- google mapp -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>

<!-- Nose (lo requiere google maps )-->
<script type="text/javascript" src="{% static 'bower_components/lodash/dist/lodash.min.js' %}"></script>


<!-- TOOLTIP -->
<script type="text/javascript" src="{% static 'bower_components/angular-tooltips/dist/angular-tooltips.min.js' %}"></script>

<!-- VALIDATOR -->
<script type="text/javascript" src="{% static 'bower_components/tg-angular-validator/dist/angular-validator.min.js' %}"></script>

<!-- TABLES-->
<script type="text/javascript" src="{% static 'bower_components/ng-table/dist/ng-table.min.js' %}"></script>

<!-- ALERT NOTIFICATION -->
<script type="text/javascript" src="{% static 'bower_components/angular-snackbar/angular.snackbar.min.js' %}"></script>

<!-- EASY AND CUSTOMIZABLE POP UP DIALOG -->
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>

<!-- Angular and django rest framework Resource -->
<script type="text/javascript" src="{% static 'bower_components/angular-django-rest-resource/angular-django-rest-resource.js' %}"></script>


<!-- LOAD PROMISE -->
<script type="text/javascript" src="{% static 'bower_components/angular-busy/dist/angular-busy.min.js' %}"></script>

<!-- CKEDITOR -->
<script type="text/javascript" src="{% static 'bower_components/ng-ckeditor/ng-ckeditor.min.js' %}"></script>

<!-- WIDGET TU UPLOAD IMAGE -->
<script type="text/javascript" src="{% static 'bower_components/ng-droplet/dist/ng-droplet.min.js' %}"></script>

<!-- POPOVER -->
<script type="text/javascript" src="{% static 'bower_components/nsPopover/src/nsPopover.js' %}"></script>

<!-- Currency mask angular -->
<script type="text/javascript" src="{% static 'bower_components/ng-currency/dist/ng-currency.min.js' %}"></script>

<!-- validation match -->
<script type="text/javascript" src="{% static 'bower_components/angular-validation-match/dist/angular-input-match.min.js' %}"></script>

<!-- ###################### END IMPORT ###################### -->





<!-- ###################### DASHBOARD APP ###################### -->
<script type="text/javascript" src="{% static 'dashboard/app.js' %}"></script>

<!-- ###################### END DASHBOARD APP ###################### -->

<!-- ###################### DASHBOARD APP - MODULE UTILS ###################### -->
<script type="text/javascript" src="{% static 'dashboard/utils/util.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/utils/directives/google-places.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/utils/directives/really-click.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/utils/directives/alert-notification.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'dashboard/utils/directives/upload-file-model.directive.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE UTILS ###################### -->

<!-- ###################### DASHBOARD APP - MODULE PROFILE ###################### -->
<script type="text/javascript" src="{% static 'dashboard/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/profile/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/profile/controllers/detail-profile.controller.js' %}"></script>
<!--<script type="text/javascript" src="{# static 'dashboard/profile/controllers/create-profile.controller.js' #}"></script>
<script type="text/javascript" src="{% static 'dashboard/profile/controllers/update-profile.controller.js' %}"></script>-->
<script type="text/javascript" src="{% static 'dashboard/profile/controllers/change-password.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE PROFILE ###################### -->


<!-- ###################### DASHBOARD APP - MODULE AD ###################### -->
<script type="text/javascript" src="{% static 'dashboard/ad/ad.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/ad/services/ad.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/ad/controllers/ad.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/ad/controllers/ad-create.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE AD ###################### -->


<!-- ###################### DASHBOARD APP - MODULE MESSAGE ###################### -->
<script type="text/javascript" src="{% static 'dashboard/message/message.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/message/services/message.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/message/controllers/message.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/message/controllers/messageThread.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE MESSAGE ###################### -->


<!-- ###################### DASHBOARD APP - MODULE USER LOCATION ###################### -->
<script type="text/javascript" src="{% static 'dashboard/user-location/location.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/user-location/services/location.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/user-location/controllers/location.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE USER LOCATION ###################### -->

<!-- ###################### DASHBOARD APP - MODULE FAVORITES ###################### -->
<script type="text/javascript" src="{% static 'dashboard/favorite/favorite.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/favorite/services/favorite.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/favorite/controllers/favorite.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE FAVORITES ###################### -->

<!-- ###################### DASHBOARD APP - MODULE NOTIFICATIONS ###################### -->
<script type="text/javascript" src="{% static 'dashboard/notification/notification.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/notification/services/notification.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/notification/controllers/config-notification.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE NOTIFICATIONS ###################### -->


<!-- ###################### DASHBOARD APP - MODULE STORE ###################### -->
<script type="text/javascript" src="{% static 'dashboard/store/store.module.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/store/services/store.service.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/store/controllers/config-store.controller.js' %}"></script>
<!-- ###################### END DASHBOARD APP - MODULE STORE ###################### -->