<div class="page-sidebar sidebar horizontal-bar">
    <div class="page-sidebar-inner">
        <ul class="menu accordion-menu">
            <li class="nav-heading"><span>Navigation</span></li>
            <li>
                <a href="#"><span class="menu-icon icon-speedometer"></span><p>Dashboard</p></a>
            </li>
            <li ng-class="{active: ('default' | includedByState) || ('profile-detail' | includedByState) || ('profile-update' | includedByState) || ('change-password' | includedByState )}">
                <a ui-sref="profile-detail"><span class="menu-icon icon-user"></span><p>Profile</p></a>
            </li>
            <li class="droplink" ng-class="{active: ('messages' | includedByState) || ('message-thread' | includedByState)}">
                <a href="#"><span class="menu-icon icon-envelope-open"></span><p>Mensajes</p><span class="arrow"></span></a>
                <ul class="sub-menu">
                    <li><a ui-sref="messages({'folder': 'inbox'})" ui-sref-active="active">Bandeja</a></li>
                    <li><a hui-sref="messages({'folder': 'sent'})" ui-sref-active="active">Enviados</a></li>
                    <li><a ui-sref="messages({'folder': 'trash'})" ui-sref-active="active">Eliminados</a></li>
                </ul>
            </li>
            <li ng-class="{active: ('my-ads' | includedByState) || ('ad-create' | includedByState)}">
                <a ui-sref="my-ads"><span class="menu-icon icon-speedometer"></span><p>Mis avisos</p></a>
            </li>
            <li>
                <a ui-sref="my-locations"><span class="menu-icon icon-pointer"></span><p>Mis ubicaciones</p></a>
            </li>
            <li>
                <a ui-sref="favorite"><span class="menu-icon fa fa-heart-o"></span><p>Mis favoritos</p></a>
            </li>
        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->