{% verbatim %}
<div class="page-sidebar sidebar horizontal-bar" ng-controller="SidebarCtrl as vm">
    <div class="page-sidebar-inner">
        <ul class="menu accordion-menu">
            <li class="nav-heading"><span>Navigation</span></li>
            <li ng-class="{active: ('profile-detail' | includedByState) || ('profile-update' | includedByState) || ('change-password' | includedByState ) || ('config-notification' | includedByState) }">
                <a ui-sref="profile-detail"><span class="menu-icon fa fa-user"></span><p>Perfil</p></a>
            </li>
            <li class="droplink" ng-class="{active: ('messages' | includedByState) || ('message-thread' | includedByState)}">
                <a href="#"><span class="menu-icon fa fa-envelope" ui-sref="messages({'folder': 'inbox'})"></span><p>Mensajes</p><span class="arrow"></span></a>
                <ul class="sub-menu">
                    <li><a ui-sref="messages({'folder': 'inbox'})" ui-sref-active="active">Bandeja</a></li>
                    <li><a ui-sref="messages({'folder': 'sent'})" ui-sref-active="active">Enviados</a></li>
                    <li><a ui-sref="messages({'folder': 'trash'})" ui-sref-active="active">Eliminados</a></li>
                </ul>
            </li>
            <li ng-class="{active: ('my-ads' | includedByState) || ('ad-create' | includedByState) || ('ad-update' | includedByState)}">
                <a ui-sref="my-ads"><span class="menu-icon fa fa-bullhorn"></span><p>Mis avisos</p></a>
            </li>
            <li ng-class="{active: ('my-locations' | includedByState)}">
                <a ui-sref="my-locations"><span class="menu-icon fa fa-map-marker"></span><p>Mis ubicaciones</p></a>
            </li>
            <li ng-class="{active: ('favorites' | includedByState)}">
                <a ui-sref="favorites"><span class="menu-icon fa fa-heart"></span><p>Mis favoritos</p></a>
            </li>
            <li ng-class="{active: ('config-store' | includedByState)}" >
                <i class="fa fa-info sidebar-alert"
                   tooltip="'Debes cargar anuncios antes de poder activar tu tienda'"
                   placement="rigth"
                   ng-show="!vm.has_ads"></i>
                <a ui-sref="config-store" ng-class="{disabled: !vm.has_ads }" ><span class="menu-icon fa fa-home "></span><p>Mi tienda</p></a>
            </li>
        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->
{% endverbatim %}