{% load staticfiles %}

<!-- Styles -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/pace-master/themes/blue/pace-theme-flash.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />

<!-- Theme Styles -->
<link href="{% static 'css/theme/theme.min.css' %}" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-datepicker/css/datepicker3.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-plain.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-snackbar/css/angular.snackbar.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-busy/dist/angular-busy.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-table/dist/ng-table.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/nsPopover/less/ns-popover.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tooltip-master/src/tooltip.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/less/dashboard.css' %}" />