{% extends 'termcondition/base.html' %}

{% block body %}
    <h1>AVISOS PROHIBIDOS</h1>

    <div class="main-content">


                        <div class="term-container">
                            <a name="1029"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Artículos prohibidos</h2>
                            <p>Última actualización: 10/06/2014</p>
<p>A continuación se encuentra el listado de productos y servicios cuyo ofrecimiento, solicitud, publicación, compra o venta están prohibidos por MercadoLibre por políticas internas y/o para garantizar el cumplimiento de alguna ley vigente, según sea el caso.</p>
<p><strong>Los vendedores son exclusivos responsables de la legalidad y legitimidad de los artículos que ofrecen</strong>. MercadoLibre no asume responsabilidad alguna por la existencia en el sitio de productos o servicios que infrinjan las políticas o cualquier ley o resolución judicial vigente.</p>
<p><strong>MercadoLibre podrá finalizar las publicaciones que no cumplan con las políticas aquí mencionadas</strong>. Por eso, te recomendamos revisar este listado antes de publicar un artículo.</p>
<p>Mediante la aceptación de los Términos y Condiciones Generales en el momento de la inscripción el usuario acepta las políticas aquí contenidas.</p>
                        </div>



                        <div class="term-container">
                            <a name="1030"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Tabaco y productos relacionados</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Dispositivos electrónicos para fumar.</li>
<li>Accesorios para estos dispositivos.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Productos relacionados con el tabaco, siempre que cuenten con un mensaje con alguna de estas leyendas:</li>
<ul>
<li>Fumar causa cáncer.</li>
<li>Fumar causa enfisema pulmonar.</li>
<li>Fumar causa adicción.</li>
<li>Fumar causa impotencia sexual.</li>
<li>Fumar causa enfermedades cardíacas y respiratorias.</li>
<li>El humo de tabaco es causa de enfermedad y muerte.</li>
<li>La mujer embarazada que fuma causa daños irreparables a su hijo.</li>
<li>Fumar causa muerte por asfixia.</li>
<li>Fumar quita años de vida.</li>
<li>Fumar puede causar amputación de piernas</li>
</ul>
</ul>
<p>&nbsp;</p>
<p>El mensaje tiene que estar escrito en forma legible dentro de un rectángulo con fondo blanco y letras negras y que ocupe un 20 del espacio total de la publicación.</p>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1031"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2> Celulares y servicios para celulares fuera de ley</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Equipos de telefonía celular o módems reportados, en banda negativa, clonados o hayan sido encontrados.</li>
<li>Productos o servicios que tengan como fin la alteración, reemplazo, duplicación, o modificación de equipos de telefonía celular.</li>
<li>Equipos que permitan desbloquear o liberar celulares. Por ejemplo clips o box.</li>
<li>Códigos de subsidio.</li>
<li>Servicios de desbloqueo de celulares y/ o módems o solución definitiva.</li>
<li>Servicios de obtención de códigos de subsidio o modificación de números de serie y códigos del equipo.</li>
<li>Servicios o aplicaciones para tener internet en forma gratuita.</li>
<li>Servicio de configuración o aplicaciones de mensajes de texto y llamadas ilimitadas gratuitas.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Equipos telefonía celular, a menos que tengan configuradas aplicaciones de mensajes de texto y/o llamadas ilimitadas gratuitas.</li>
<li>Chips turbo SIM, XSIM o placas dual SIM.</li>
<li>Kits de reparación para celulares.</li>
<li>Software original.</li>
<li>Servicios de flasheo, jailbreak o rooteo.</li>
<li>Servicios de actualización de software.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1032"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Armas, municiones y material explosivo</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Armas de fuego de alto o bajo calibre: armas deportivas, de colección, reliquias o antiguas (disparen o no).</li>
<li>Parte de armas de fuego, accesorios o elementos relacionados con el funcionamiento del arma: cañones, correderas, gatillos, silenciadores, etc.</li>
<li>Granadas, explosivos, misiles, proyectiles y pólvora.</li>
<li>Miras infrarrojas o de detección de calor.</li>
<li>Balas y municiones para armas de fuego.</li>
<li>Productos o dispositivos cuyo fin sea el armado de explosivos.</li>
<li>Máquinas para recarga y fabricación de municiones.</li>
<li>Herramientas o equipos que permitan modificar armas.</li>
<li>Planos que enseñen a modificar armas de fuego.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Réplicas de armas de fuego siempre que no permitan disparar proyectiles.</li>
<li>Productos relacionados con aire comprimido, Co2 y paintball.</li>
<li>Cuchillos, machetes, sables, espadas y navajas.</li>
<li>Armas para artes marciales y de combate cuerpo a cuerpo. Por ejemplo: nunchakus, puños, bastones, etc.</li>
<li>Arcos, flechas y ballestas.</li>
<li>Aparatos de choque o stun guns.</li>
<li>Accesorios que no participen del funcionamiento del arma. Por ejemplo: correas, cartucheras, etc.</li>
<li>Artículos decorativos realizados en base a balas o municiones.</li>
<li>Cajas vacías de balas.</li>
<li>Publicaciones informativas sobre esta temática.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1033"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Estupefacientes y sustancias prohibidas</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Estupefacientes, drogas, alucinógenos o cualquier tipo de sustancia no permitida por la ley vigente, en ninguna de las formas existentes.</li>
<li>Drogas o productos que posean efectos alucinógenos, por ejemplo:</li>
<ul>
<li>Peyote</li>
<li>Popper</li>
<li>Cactus San Pedro<br><br></li>
</ul>
<li>Utensilios que sirvan para producir, modificar, procesar, consumir o promover el consumo, distribución y producción de las sustancias prohibidas.</li>
<li>Publicaciones que promuevan expresamente el consumo de drogas.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1034"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Propiedad robada</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Cualquier tipo de propiedad robada:</li>
<ul>
<li>Productos de individuos privados.</li>
<li>Productos propiedad de empresas y gobiernos.</li>
</ul>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1035"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Medicamentos, sustancias y productos para la salud y/o la estética</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Medicamentos de venta libre y bajo receta, o que requieran prescripción médica.</li>
<li>Alimentos o suplementos alimenticios que no cuenten con la homologación de la Administración Nacional de Medicamentos, Alimentos y Tecnología Médica (ANMAT). Algunos ejemplos son:</li>
<ul>
<li>Sustancias naturales o artificiales que prometan un efecto benéfico que pueda ser utilizado para tratar una enfermedad.</li>
<li>Hongos o tés a los que se les atribuya la cura de enfermedades. Por ejemplo: kombucha.</li>
<li>Sustancias que contengan anabólicos o esteroides.</li>
<li>Productos adelgazantes no autorizados.<br><br></li>
</ul>
<li>Productos o servicios que estén relacionados con la realización de abortos.</li>
<li>Productos para alisado de cabellos que contengan formol.</li>
<li>Lentes con graduación</li>
<li>Botox.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Solamente puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Productos cosméticos que cuenten con la homologación de la ANMAT, como protectores solares, cremas, jabones y maquillajes.</li>
<li>Servicios médicos.</li>
<li>Equipamiento médico.</li>
<li>Complementos nutricionales que no contengan sustancias prohibidas tales como el tribullus terrestris, efedrina o yohimbina.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1046"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Huesos, órganos y residuos humanos</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Huesos y esqueletos.</li>
<li>Sangre o esperma.</li>
<li>Órganos, miembros, residuos humanos.</li>
<li>Personas.</li>
<li>Alquiler de vientre.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Productos que contengan cabello humano, como pelucas o extensiones.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1047"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Flora, fauna y derivados</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Flora o fauna que esté en peligro de extinción o cuya venta esté prohibida por la ley o normativa vigente.</li>
<li>Nutrias</li>
<li>Restos o partes de animales sin procesar.</li>
<li>Medicamentos para animales.</li>
<li>Caballos de mar, hipocampos y corales.</li>
<li>Marfil en todas sus formas.</li>
<li>Pieles de animales, a menos que sean sintéticas.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<ul>
<li>Perros</li>
<li>Peces, alimentos vivos para peces, calamares y frutos de mar.</li>
<li>Animales de granja: bovinos, porcinos, equinos, caprinos, ovino, gallinas, pollos, patos, pavos, conejos, codornices, llamas, etcétera.</li>
<li>Roedores: hámster, chinchillas, cuises, conejillos de indias, jerbos, etcétera.</li>
<li>Gatos sólo si son domésticos.</li>
<li>Gallos que no sean para pelea.</li>
<li>Lombrices y tenebrios.</li>
<li>Restos de animales procesados cuando sean de especies permitidas.</li>
<li>Carnes de animales procesadas y vendidas como delicatesen, cuando sean de especies permitidas.</li>
<li>Huevos cuando sean de especies permitidas.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1048"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Fuegos artificiales</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Fuegos artificiales sin autorización de las entidades reguladoras en materia de explosivos.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Velas tipo bengala para tortas de cumpleaños.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1049"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Productos y servicios financieros</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Productos o servicios financieros como:</li>
<ul>
<li>Préstamos o créditos financieros.</li>
<li>Dinero de curso legal.</li>
<li>Cheques o chequeras vigentes.</li>
<li>Acciones, bonos, títulos o cualquier otro papel que cotice en bolsa.</li>
<li>Cuentas bancarias y servicios de depósitos bancarios.</li>
<li>Tarjetas de crédito o debito estén o no en vigencia y servicios de obtención de las mismas.</li>
<li>Terminales para pagos con tarjeta, lectoras y duplicadoras de códigos de tarjetas.</li>
<li>Crédito para sitios de apuesta online o de pago electrónico.</li>
<li>Monedas y billetes que repliquen a los que se encuentran en circulación.</li>
<li>Servicios, programas o mecanismos destinados a eliminar el historial crediticio de una persona física o jurídica.</li>
</ul>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Oro</li>
<li>Monedas o billetes fuera de circulación.</li>
<li>Monedas o billetes de juguete.</li>
<li>Negocios o fondos de comercio que incluyan una terminal para pagos con tarjeta.</li>
<li>Productos, autos, inmuebles o servicios con <strong>opciones de financiación para pagarlos</strong>.</li>
<li>Consultas a cualquier base de datos crediticios.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1050"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Millas o puntos de compañías aéreas</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Beneficios otorgados por líneas aéreas para premiar la fidelidad de sus clientes.</li>
<li>Millas, puntos o upgrades de compañías aéreas.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Pasajes de líneas aéreas o terrestres, paquetes turísticos o cualquier otro tipo de producto turístico, solo con autorización de la autoridad competente.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
                        </div>



                        <div class="term-container">
                            <a name="1051"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Listas de correo y base de datos personales</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Listas de correo masivo.</li>
<li>Bases de datos personales, padrones electorales, números de tarjetas, contactos comerciales o de proveedores o cualquier otro tipo de listado que contenga datos privados.</li>
<li>Compra o venta de seguidores de redes sociales.</li>
<li>Herramientas, software o servicios que permitan el envío de mensajes masivos no solicitados (SPAM).</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Guías comerciales.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1052"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Contenidos relacionados con la pornografía, eróticos o no aptos para menores</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Solicitudes u ofertas de artículos con temáticas sexuales prohibidos por la ley, como: prostitución, pedofilia, zoofilia, necrofilia, incesto real.</li>
<li>Artículos con fines sexuales fuera de la categoría de adultos.</li>
<li>Acompañantes, strippers, citas y encuentros o cualquier publicación que incluya la posible realización encubierta de un servicio sexual.</li>
<li>Servicios de exhibición por webcam.</li>
<li>Spanish Fly o Mosca Española.</li>
<li>Ropa interior usada.</li>
<li>En publicaciones fuera de la categoría Adultos links a e-shops o productos publicados en dicha categoría.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>¿Qué se puede publicar solo en la categoría Adultos?</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Disfraces eróticos, sexys o sensuales o que permitan ver partes intimas del cuerpo.</li>
<li>Ropa interior que permita ver partes íntimas del cuerpo; que pueda ser usada con fines sexuales o que contenga palabras o frases relacionadas con el acto sexual.</li>
<li>Revistas o libros de contenido pornográfico o que contengan desnudos.</li>
<li>Videos, películas, imágenes o juegos pornográficos o de contenido sexual.</li>
<li>Productos afrodisíacos o que contengan feromonas.</li>
<li>Figuras o juguetes que se muestren desnudos o en posiciones sexuales.</li>
<li>Cualquier producto que tenga fines sexuales.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>¿Qué se puede publicar en otras categorías?</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Preservativos.</li>
<li>Libros informativos relacionados con temáticas sexuales.</li>
<li>Obras artísticas que incluyan desnudos.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1054"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Violencia y discriminación</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Productos que hagan publicidad, promuevan o inciten de cualquier forma a la violencia, comisión de delitos o discriminación racial.</li>
<li>Productos que hagan apología o representen a organizaciones que promuevan el odio como Ku Klux Klan:</li>
<ul>
<li>Máscaras, anillos, escudos, banderas, etcétera.</li>
</ul>
</ul>
<ul>
<li>Productos relacionados con el Nazismo:</li>
<ul>
<li>Máscaras, anillos, escudos, banderas, etcétera.</li>
<li>Películas relacionadas con el régimen nazi, como por ejemplo: Jud Süß, Der ewige Jude (La ley eterna), Triuph des Willens (Triunfo de la voluntad), Wochenschau unkommentiert, Trilogía: Gestern und heute (1938), entre otras.</li>
<li>Libros de autores que promovieron el régimen Nazi, por ejemplo: Alfred Rosenberg, Baldur Von Schirach, Herman Goering, Joseph Goebels, Hans Zoberlein, entre otros.</li>
<li>Libros sobre el régimen Nazi: Mi lucha, Libro autobiográfico de Hitler, Los verdaderos criminales de guerra, Derrota mundial, Hitler culpable o inocente, Alemania despierta, El judío internacional,</li>
<li>Raza y destino, entre otros.</li>
<li>Cualquier elemento perteneciente al gobierno alemán y a sus fuerzas armadas del periodo 1933- 1945.</li>
<li>Elementos que tengan insignias del partido Nazi, de la Alemania Nazi o de cualquier otro grupo vinculado a este régimen.</li>
</ul>
</ul>
<ul>
<li>Material ofensivo o violento. Por ejemplo:</li>
<ul>
<li>Productos que promuevan grupos terroristas o fuerzas paramilitares. Por ejemplo: remeras a favor de Al Qaeda o a favor de las FARC.</li>
<li>Videos o imágenes que fomenten la violencia contra animales o humanos.</li>
<li>Dispositivos de tortura.</li>
</ul>
</ul>
<ul>
<li>Imágenes o películas relacionadas con asesinatos, accidentes o muertes. Por ejemplo películas snuff, fotos de cadáveres, etcétera.</li>
<li>Productos relacionados con tragedias humanas:</li>
<ul>
<li>Escombros provenientes de un atentado, etcétera.</li>
</ul>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Productos relacionados con tragedias humanas que tienen valor social o histórico. Por ejemplo:&nbsp;Recortes de diarios, documentales, fotos o imágenes conmemorativas, etcétera.</li>
<li>Artículos periodísticos sobre el Ku Klux Klan y otras organizaciones.</li>
<li>Documentales sobre Ku Klux Klan y otras organizaciones.</li>
<li>Estampillas relacionadas con el nazismo.</li>
<li>Monedas y billetes relacionadas con el nazismo.</li>
<li>Productos que tienen la svástica pero no están relacionados con el régimen Nazi.</li>
<li>Documentales sobre el régimen Nazi.</li>
<li>Películas y libros siempre que no promuevan la ideología nazista.</li>
<li>Documentales con material ofensivo o violento.</li>
<li>Recortes periodísticos con material ofensivo o violento.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1056"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Decodificadores y antenas</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Decodificadores, receptores, conversores, equipos o antenas que permitan ver señales pagas en forma gratuita.</li>
<li>Chips o placas que permitan desbloquear un receptor para ver señales pagas.</li>
<li>Dongles o componentes que permitan modificar o desbloquear receptores, como por ejemplo: LBN o LBNF.</li>
<li>Componentes que permitan realizar CardSharing.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Conversores o receptores para señales libres. Por ejemplo: banda C y banda KU.</li>
<li>Placas capturadoras y sintonizadoras de video.</li>
<li>Receptores para televisión digital.</li>
<li>Divisores de señal para TV analógica o digital.</li>
<li>Antenas de hilo, de apertura o planas.</li>
<li>Antenas de señal analógica y digital que solo capten las bandas C y KU.</li>
<li>Antenas UHF y VHF cuando no permitan recibir señales pagas.</li>
<li>Antenas de disco o parabólicas cuando no permitan ver señales de TV paga.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1057"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Publicaciones que violen derechos de propiedad intelectual</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Publicaciones que violen las leyes sobre derecho de autor, patentes, marcas y modelos y diseños industriales.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1058"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Documentos legales y personales</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Documentos personales. Por ejemplo:</li>
<ul>
<li>Pasaportes.</li>
<li>Cédulas de identidad.</li>
<li>Licencias de conducir.<br><br></li>
</ul>
<li>Identificaciones o credenciales profesionales. Por ejemplo:</li>
<ul>
<li>Títulos o diplomas.</li>
<li>Placas de policía.<br><br></li>
</ul>
<li>Documentación empresarial. Por ejemplo:</li>
<ul>
<li>Credenciales tributarias.</li>
<li>Licencias de expendio de alcohol.<br><br></li>
</ul>
<li>Recetas y/o prescripciones médicas.</li>
<li>Credenciales o pases de descuento en transportes que sean otorgados a una persona en forma intransferible.</li>
<li>Servicios de realización de documentos estudiantiles. Por ejemplo:</li>
<ul>
<li>Tesis.</li>
<li>Monografías.</li>
<li>Trabajos prácticos.<br><br></li>
</ul>
<li>Uniformes que hoy en día se usen en cualquier fuerza armada.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Servicios de gestoría para trámites que no sean personales.</li>
<li>Títulos o diplomas de pedigree si son entregados con el animal.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1063"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Patrimonio histórico, cultural, arqueológico y paleontológico</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Objetos considerados parte del patrimonio arqueológico, por ej.:</li>
<ul>
<li>Restos fósiles como huesos, huevos, impresiones de plantas, madera petrificada, ámbar, etc.</li>
</ul>
</ul>
<ul>
<li>Objetos considerados parte del patrimonio paleontológico, por ej.:</li>
<ul>
<li>Estalactitas, estalagmitas o cualquier otro tipo de producto proveniente de excavaciones.</li>
<li>Meteoritos, aerolitos, o cualquier otro tipo de cuerpo natural proveniente del espacio.<br><br></li>
</ul>
<li>Objetos considerados parte del patrimonio histórico y cultural, por ej.:</li>
<ul>
<li>Material etnológico, esculturas, puntas de flecha, herramientas, etc.</li>
<li>Documentos oficiales originales.</li>
<li>Artículos que hayan pertenecido a un personaje histórico para cualquier país o estén relacionados con un hecho histórico puntual.</li>
</ul>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<ul>
<li>Minerales y metales.</li>
<li>Réplicas de productos fósiles.</li>
<li>Monedas y billetes que se encuentren fuera de circulación, cualquiera sea la antigüedad de los mismos.</li>
<li>Estampillas</li>
<li>Vasijas, urnas funerarias, utensilios, etc. sólo si son creados en la actualidad por reservas aborígenes o por artesanos.</li>
<li>Réplicas de artículos que puedan ser considerados patrimonio histórico.</li>
</ul>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1064"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Programas o servicios para hackear dispositivos electrónicos</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Dispositivos o programas que permitan guardar lo que se escribe en el teclado. Por ejemplo: keylogger, key ghost y key shark.</li>
<li>Servicios de recuperación de contraseñas o de hackeo de correos electrónicos.</li>
<li>Softwares que permitan invadir un dispositivo electrónico. Por ejemplo malwares, spywares, troyanos, etc.</li>
<li>Claves, validadores, productos o servicios que permitan generar números de series para juegos o programas. Por ejemplo key generator.</li>
<li>Software, servicios, módems, cables o cualquier otro producto que permita acceder a servicios de internet pagos en forma gratuita.</li>
<li>Programas para generar boletos de pago de entidades bancarias.</li>
<li>Software espía para celulares.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Servicios de configuración de wifi.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1066"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Loterías y rifas</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Productos relacionados con juegos de loterías, rifas y/o máquinas de azar.</li>
<li>Máquinas de casino, tanto completas como sus partes.</li>
<li>Máquinas de cascada de monedas.</li>
<li>Boletos para rifas.</li>
<li>Software de juegos de loterías o tragamonedas y programas de manipulación de datos de las máquinas.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Billetes de lotería solo si son antiguos o de colección.</li>
<li>Programas de administración para casas de loterías.</li>
<li>Programas para jugadores basados en datos estadísticos o secuencias lógicas que permitan aumentar las chances de ganar.</li>
<li>Máquinas de garage.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1067"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Publicaciones con fines distintos a la venta de un producto o servicio</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Publicaciones que carezcan de seriedad o estén destinadas a la burla.</li>
<li>Publicaciones que tengan un fin político.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1068"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Autopartes y repuestos usados</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Está prohibido vender autopartes o repuestos usados que no estén especificados en la normativa vigente, detallada en la leyes 25761 y 24449.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué autopartes usadas puedes publicar</h3>
<p>Sólo las que se encuentren en la siguiente lista:</p>
<ul>
<li>Aires acondicionados.</li>
<li>Alternadores.</li>
<li>Bobinas de encendido.</li>
<li>Bombas de agua, nafta e inyectora.</li>
<li>Cajas de transferencia y de velocidades.</li>
<li>Capots sólo sin las trabas.</li>
<li>Carburadores.</li>
<li>Compresores de aire acondicionado.</li>
<li>Condensadores.</li>
<li>Electro ventiladores.</li>
<li>Grillas delanteras (parrillas).</li>
<li>Guardabarros delanteros (sólo los fijados con tornillos).</li>
<li>Instrumental de tablero.</li>
<li>Intercooler.</li>
<li>Módulos de inyección.</li>
<li>Motores de arranque.</li>
<li>Motor semiarmado (no se permite despiezarlo).</li>
<li>Portones traseros sin cerradura y trabas.</li>
<li>Puertas delanteras y traseras (sin bisagras y sin cerraduras, no se permite la comercialización de puertas con bisagras soldadas)</li>
<li>Radiadores y radiadores de aceite.</li>
<li>Tableros de instrumentos.</li>
<li>Tapas de baúl sólo sin cerradura y trabas.</li>
<li>Tapizados de techo y puertas.</li>
<li>Turbos compresores.</li>
<li>Volantes de motor.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1069"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Productos a beneficio</h2>
                            <h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Las publicaciones en nombre de una fundación están permitidas sólo si la ONG se registró en el programa Mercado Solidario.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1070"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Productos entregados por el gobierno</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Productos que hayan sido entregados por el gobierno en el marco de programas sociales, de investigación, etc.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1071"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Manuales, cursos en formato impreso o digital y guías de estudio</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Manuales, cursos y guías de estudio de cualquier contenido y soporte que no hayan sido editados oficialmente.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Cursos que se relacionen con el producto ofrecido. Por ejemplo: guitarra + curso para aprender a tocar la guitarra.</li>
<li>Dictado de cursos en la categoría Servicios.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1072"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Productos que requieran homologación o autorización de organismos estatales</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<ul>
<li>Productos que no tengan las homologaciones y/o certificaciones legales correspondientes, emitidas por la autoridad de aplicación. Por ejemplo:</li>
<ul>
<li>Instrumentos de medición.</li>
<li>Balanzas</li>
</ul>
</ul>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1073"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Seguros</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Ningún tipo de póliza o contrato de seguros.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1074"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Vehículos sin documentación y productos para vehículos que infrinjan leyes vigentes</h2>
                            <h3><em class="ch-icon-remove">&nbsp;</em>No permitimos publicar</h3>
<ul>
<li>Vehículos que no cumplan con la documentación establecida por las leyes vigentes.</li>
<li>Vehículos inhibidos.</li>
<li>Productos o servicios para vehículos que infrinjan leyes vigentes.</li>
<li>Productos y/o servicios que permitan modificar el kilometraje de un vehículo.</li>
<li>Artefactos, dispositivos y/o sustancias que permitan obstruir, ocultar o bloquear la patente.</li>
<li>Patentes que se encuentren vigentes, para cualquier tipo de vehículos.</li>
<li>Documentación de un vehículo.</li>
</ul>
<h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son solo ejemplos.</p>
<ul>
<li>Vehículos con toda la documentación correspondiente.</li>
<li>Vehículos con deudas.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>



                        <div class="term-container">
                            <a name="1298"></a>
                            <a href="#" style="float:right">Volver arriba</a>
                            <h2>Entradas para espectáculos que infrinjan leyes</h2>
                            <h3><em class="ch-icon-ok">&nbsp;</em>Qué puedes publicar</h3>
<p>Los productos aquí mencionados son sólo ejemplos.</p>
<ul>
<li>Cualquier entrada para espectáculos <strong>que cumpla con la legislación vigente</strong>.</li>
</ul>
<p>&nbsp;</p>
<div class="ch-box-icon ch-box-warn"><em class="ch-icon-warning-sign">&nbsp;</em>Daremos de baja aquellas publicaciones que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</div>
<p>&nbsp;</p>
                        </div>


            </div>
{% endblock %}