<style>
    .angular-google-map-container{
        min-height: 400px !important;
        width: 100%;
    }
</style>
<div class="page-breadcrumb">
    <ol class="breadcrumb container">
        <li><a href="index.html">Panel</a></li>
        <li><a href="#">Perfil</a></li>
        <li class="active">Mis ubicaciones</li>
    </ol>
</div>
<div class="page-title">
    <div class="container">
        <h3>Mis Ubicaciones</h3>
    </div>
</div>
<div id="main-wrapper" class="container">
    <div class="row">
        <div class="col-md-12" >
            <div class="panel panel-white">
                <div class="panel-body" id="container-locations-data">
                    <div class="col-md-12" id="content-header-forms-location">
                        <div class="col-md-6 " id="form-location">
                            <div ng-show="flag_update || flag_create">
                                <div class="col-md-5" id="form-location-btn">
                                    <button class="btn btn-success pull-left" ng-click="addLocation()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        <span ng-if="flag_update">Modificar</span>
                                        <span ng-if="flag_update == false">Crear</span>
                                    </button>
                                    <button class="btn btn-danger pull-left" ng-click="cancelLocation()">
                                        <i class="glyphicon glyphicon-minus">Cancelar</i>
                                    </button>
                                </div>
                                <div class="col-md-7" id="form-location-input">
                                    <input class="form-control" type="text" placeholder="Ingresa el nombre de tu ubicacion.." ng-model="location.title">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button ng-show="!flag_create" class="btn btn-success pull-right" ng-click="newLocation()">Agregar <i class="glyphicon glyphicon-plus"></i></button>
                        </div>

                    </div>
                    <div class="col-md-6" >
                        <div id="data-position-form" ng-show="flag_update || flag_create" class="col-md-10">
                            <!-- Address -->
                            <div class="input-group col-md-12">
                                <google-places location=location_places map=map ng-show="flag_update || flag_create"></google-places>
                            </div>
                            <!-- Radius -->
                            <div class="col-md-12" >
                                <div class="range range-success">
                                    <input id="map-radius" class="col-md-8" type="range" name="map_radius" min="1000" max="10000" ng-model="location.radius" >
                                </div>
                                <div class="form-inline pull-right col-md-12">
                                    <p class="data-point pull-left"><strong>Lat :</strong> {{ location.center.latitude | number : 4}} || <strong>Log :</strong> {{ location.center.longitude | number : 4}}</p>

                                    <label class="label-dist pull-right">Mtrs</label>
                                    <output id="range" class="form-control pull-right">{{ location.radius }}</output>
                                    <label class="label-dist pull-right" for="range">Distancia :</label>
                                </div>
                            </div>
                        </div>
                        <ui-gmap-google-map id="location-map"  center="map.center" zoom="map.zoom" draggable="true" options="options">
                            <ui-gmap-circle ng-repeat="location in locations track by location.id"
                                            center="location.center"

                                            stroke="location_options.stroke"
                                            fill="location_options.fill"
                                            radius="location.radius"
                                            visible="location.visible"
                                            geodesic="location_options.geodesic"
                                            editable="location.editable"
                                            draggable="location.draggable"
                                            clickable="location_options.clickable">

                            </ui-gmap-circle>
                        </ui-gmap-google-map>
                    </div>

                    <div class="col-md-6">

                        <div class="table-responsive col-md-12">
                            <table class="table table-bordred table-striped">
                                <thead>
                                <td class="col-md-9">Nombre</td>
                                <td class="col-md-3">Acciones</td>
                                </thead>
                                <tbody>
                                <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="loc in locations" ng-click="select(loc)">
                                    <td class="col-md-9">{{ loc.title }}</td>
                                    <td class="col-md-3">
                                        <button type="button" class="btn btn-sm btn-warning" ng-click="update(loc)">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger"
                                                ng-really-click="deleteLocation(loc)"
                                                ng-really-message="Are you sure ?" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
<div class="page-footer">
    <div class="container">
        <p class="no-s">2015 &copy; Compraloahi by Context.</p>
    </div>
</div>