<div class="panel panel-white">
    <div class="panel-body">
        <h4 class="body-header">
            Configura tu privacidad
        </h4>
        <form>
            <div class="form-control">
                <label for="">Mostrar la ubicacion exacta en la cual estan disponibles tus anuncios?</label>
                <input checked="" value="vm.config.config.show_address" ng-model="vm.config.config.show_address" type="checkbox">
                <span class="help">Tene en cuenta si desactiva esta opcion, tus anuncios se mostraran en una ubicacion ofuscada, y no se mostrara ningun dato de la direccion.</span>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success pull-right" type="button" ng-click="vm.submit()"><i class="fa fa-save"></i> Guardar</button>
        <button class="btn btn-warning pull-right" ui-sref="profile-detail"><i class="fa fa-times"></i> Cancelar</button>
    </div>
</div>
