<div class="panel panel-white" cg-busy="vm.promiseRequest">
    <div class="panel-body" id="container-profile-data">
        <div class="col-md-12 body-container" >
            <div class="col-md-3" cg-busy="vm.promise_img" ng-mouseover="vm.focus_img = true;" ng-mouseleave="vm.focus_img = false;">
                <img class="img-responsive img-circle" id="item-display" src="{{ vm.profile.thumbnail_200x200 }}">
                <div class="fileUpload btn btn-primary btn-xs" ng-show="vm.focus_img">
                    <span><i class="fa fa-upload"></i></span>
                    <input type="file" class="upload" file-model='img_profile' accept="image/*"/>
                </div>
            </div>
            <!-- PROFILE DETAIL -->
            <div class="col-md-9">

                <h3>{{ vm.profile.user.first_name }}<span ng-show="!vm.profile.user.first_name">Sin Nombre</span>,
                    {{ vm.profile.user.last_name }}<span ng-show="!vm.profile.user.last_name">Sin Apellido</span>
                    <span>( {{ vm.profile.user.username }} )</span></h3>
                <div class="col-md-6">
                    <div class="">
                        <label> Fecha Nacimiento: </label>
                        <p><i class="icon-desc fa fa-birthday-cake"></i>{{ vm.profile.birth_date | date:'dd/MM/yyyy' }}<span ng-show="!vm.profile.birth_date">Sin Fecha de Nacimiento</span></p>
                    </div>
                    <div class="">
                        <label>Email : </label>
                        <p><i class="icon-desc fa fa-envelope"></i>{{ vm.profile.user.email }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Numero de contacto : </label>
                    <ul id="contact-number-list" ng-if="vm.profile.phones.length > 0">
                        <li ng-repeat="phone in vm.profile.phones">
                            <i ng-if="phone.type == 'TEL'" class="icon-desc fa fa-phone"></i>
                            <i ng-if="phone.type == 'CEL'" class="icon-desc fa fa-mobile"></i>
                            <i ng-if="phone.type == 'FAX'" class="icon-desc fa fa-fax"></i>
                            {{ phone.number }}
                        </li>
                    </ul>
                    <div ng-if="vm.profile.phones == 0">
                        No tienes ningun numero de contacto registrado..
                    </div>
                </div>

            </div>
            <div class="row">
                    <button class="btn btn-default" ui-sref="profile-address" style="clear: right;">Editar mi ubicacion</button>
                    <button class="btn btn-default" ui-sref="config-privacity">Configurar mi privacidad</button>
                </div>
        </div>
    </div>
    <div class="panel-footer">
        <button ui-sref="profile-update" class="btn btn-info pull-left"><i class="fa fa-pencil"></i> Editar informacion personal</button>
        <button ui-sref="change-password" class="btn btn-info pull-left"><i class="fa fa-unlock-alt"></i> Cambiar contraseña</button>
        <button ui-sref="config-notification" class="btn btn-info pull-right"><i class="fa fa-bell"></i> Configurar Alertas</button>
    </div>
</div>

