<!DOCTYPE html>
{% load staticfiles %}
{% load comment_notification_tags %}


<html>
<head>

    {% include 'layout/stylesheets.html' %}
    {% block css_header_block %}

    {% endblock %}


    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% block js_header_block %}

    {% endblock %}



    <title>{% block title %}Compralo ahi{% endblock %}</title>
</head>

<body {% block angular_app_declare_block %}{% endblock %}>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-bar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-4">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <img id="logo" src="/static/image/compraloahi-logo.png"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% block search_nav %}
                <form action="/ad/ad-list/" id="nav-search" method="get" class="col-md-4">
                        <div class="input-group-custom-addon icon-addon addon-sm">
                            <input type="text" placeholder="Encontra lo que buscas" class="form-control" name="q">
                            <button class="glyphicon glyphicon-search btn-search" rel="tooltip" title="search" type="submit"></button>
                        </div>
                </form>
            {% endblock %}

            {% if user.is_authenticated %}
                <!-- MENU -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"> Hola! {{ user.first_name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a href="{% url 'profile:detail' %}"><span class="glyphicon glyphicon-wrench"></span> Mi panel</a></li>
                            <li><a href="/accounts/profile/#/profile/change-password"><span class="glyphicon glyphicon-adjust"></span> Cambiar contraseña </a> </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'my-user:my-logout' %}"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- listado de noficaciones -->
                {% get_user_comment_unreplied_notification %}
                {% if not_replied_notifications %}
                    <ul class="nav navbar-nav navbar-right" rel="tooltip" title="Se han hecho nuevos comentarios sobre sus avisos">
                        <li class="dropdown">
                            <a class="dropdown-toggle btn"  data-toggle="dropdown" id="notification-menu">  <i class="glyphicon glyphicon-globe"></i> <span class="notification-count">{% get_user_comment_unreplied_notification_count %}</span></a>
                            <ul class="dropdown-menu list-notification" role="menu">
                                {% for notification in not_replied_notifications %}
                                    <li><a href="ad/{{ notification.ad.slug }}">{{ notification.ad.title | truncatechars:100 }}</a> </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                <!-- FIN - listado de noficaciones -->
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accounts/signup/">Registrate  </a> </li>
                    <li><a href="/accounts/login">Entrar</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>



    <div id="container-body">
    {% block body_block %}
        This is body_block's default content.
    {% endblock %}
    </div>
</body>
<footer class="container-fluid footer bottom-block">
    <p class="pull-right">Create by <a href="#">Compralo ahi</a></p>
    {% block js_footer_block %}{% endblock %}
</footer>
</html>