<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    {% include 'layout/stylesheets.html' %}
    {% block css_header_block %}

    {% endblock %}


    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% block js_header_block %}

    {% endblock %}



    <title>{% block title %}Compralo ahi{% endblock %}</title>
</head>

<body {% block angular_app_declare_block %}{% endblock %}>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-bar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-4">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <img id="logo" src="/static/image/compraloahi-logo.png"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="/ad/ad-list/" method="get" class="col-md-4">
                <div class="input-group-custom-addon icon-addon addon-sm">
                    <input type="text" placeholder="Encontra lo que buscas" class="form-control" name="q">
                    <button class="glyphicon glyphicon-search btn-search" rel="tooltip" title="search" type="submit"></button>
                </div>
                {% block menu_extra_fields_form_block %}
                {% endblock %}
            </form>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Hola! {{ user.first_name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="{% url 'profile:detail' %}"><span class="glyphicon glyphicon-wrench"></span> Mi panel</a></li>
                        <li><a href="/accounts/profile/#/profile/change-password"><span class="glyphicon glyphicon-adjust"></span> Cambiar contraseña </a> </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'my-user:my-logout' %}"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/signup/">Registrate  </a> </li>
                <li><a href="/accounts/login">Entra</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>



    <div id="container-body">
    {% block body_block %}
        This is body_block's default content.
    {% endblock %}
    </div>
</body>
<footer class="container-fluid footer bottom-block">
    <p class="pull-right">Create by <a href="#">Compralo ahi</a></p>
    {% block js_footer_block %}{% endblock %}
</footer>
</html>