<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" >

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block js_header_block %}{% endblock %}
    {% block css_header_block %}{% endblock %}
    
    <title>{% block title %}Compralo ahi{% endblock %}</title>
</head>

<body style="background-color: #f5f5f6">

{% include "layout/menu.html" %}


    {% block body_block %}
        This is body_block's default content.
    {% endblock %}

</body>
<footer class="col-12 footer">
    
    <p class="pull-right">Create by <a href="#">Compralo ahi</a></p>
    <div class="row pull-right">
        <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
        <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
        <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
    </div>
    
    {% block js_footer_block %}{% endblock %}
</footer>
</html>