{% load staticfiles %}

<!-- JQUERY UI (Required by moderms ) -->
<script src="{% static 'theme/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'theme/plugins/pace-master/pace.min.js' %}"></script>
<!--<script src="/static/assets/plugins/jquery-blockui/jquery.blockui.js"></script> -->
<script src="{% static 'theme/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!--<script src="/static/assets/plugins/switchery/switchery.min.js"></script> -->
<script src="{% static 'theme/plugins/uniform/jquery.uniform.min.js' %}"></script>
<script src="{% static 'theme/plugins/classie/classie.js' %}"></script>
<script src="{% static 'theme/plugins/waves/waves.min.js' %}"></script>
<!--<script src="/static/assets/plugins/3d-bold-navigation/js/main.js"></script>-->
<script src="{% static 'theme/js/modern.min.js' %}"></script>

