<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Compralo ahi ! y cuando puedas...</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Avisos<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/ad/">Mis avisos</a></li>
            <li><a href="/ad/create">Agregar aviso</a></li>
          </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hola, {{user.username|capfirst }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/accounts/profile"><i class="icon-user"></i>Perfil</a></li>
              <li><a href="/accounts/password/change">Cambiar contraseña</a></li>
              <li class="divider"></li>
              <li><a href="/accounts/logout"><i class="glyphicon-log-out"></i> Logout</a></li>
            </ul>
          </li>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/accounts/login">Sign In</a></li>
          <li><a href="/accounts/signup/">Sing Up</a></li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>