{% load staticfiles %}

<!-- Styles -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href="{% static 'theme/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>

<!--<link href="{% static 'theme/plugins/uniform/css/uniform.default.min.css' %}" rel="stylesheet"/>-->

<link href="{% static 'theme/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'theme/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>

<!--<link href="{% static 'theme/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'theme/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'theme/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'theme/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>-->

<link href="{% static 'theme/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>

<!-- Theme Styles -->
<link href="{% static 'theme/css/modern.min.css' %}" rel="stylesheet" type="text/css"/>

