<html>
<head>
<title> Login </title>

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

</head>
<body>
    <div class="container">
        <h1> Login </h1>
        {% bootstrap_messages %}
         <h2 class="form-signin-heading">Sign in</h2>
        
        <form method="post" action="" class="form-signin" role="form">
            {% csrf_token %}

            {% bootstrap_form form %}
            
            {% buttons %}    
                <button class="btn btn-lg btn-primary" type="submit">{% bootstrap_icon "log-in" %} Sign in</button>
                <a href="/users/register/" class="btn btn-lg btn-primary"> Register</a>
                
           {% endbuttons %}
        </form>
    </div>
</body>
</html>
